<link rel="stylesheet" href="/css/post.css">

    <article class="contrato">
        <img class="designer-image" src="imagens/artedesigner1.png" alt="Imagem do Post 1">
        <article class="designer-detalhes">
            <img class="user-img" src="imagens/designer1.png" alt="Profissional Henry gama">
            <article>
                <h3>Designer</h3>
                <p class="user-info">Henry gama</p>
 
            </article>

        </article>
    </article>
    <article class="contrato">
        <img class="designer-image" src="imagens/artedesigner2.png" alt="Imagem do Post 2">
        <article class="designer-detalhes">
            <img class="user-img" src="imagens/designer2.png" alt="Profissional Carol Simões">
            <article>
                <h3>Designer</h3>
                <p class="user-info">Carol Simões </p>
 
            </article>
        </article>
    </article>
    <article class="contrato">
        <img class="designer-image" src="imagens/artedesigner3.png" alt="Imagem do Post 3">
        <article class="designer-detalhes">
            <img class="user-img" src="imagens/designer3.png" alt="Profissional Nicole Montana">
            <article>
                <h3>Designer</h3>
                <p class="user-info">Nicole Montana</p>
            </article>
        </article>
    </article>
    <article class="contrato">
        <img class="designer-image" src="imagens/artedesigner4.png" alt="Imagem do Post 4">
        <article class="designer-detalhes">
            <img class="user-img" src="imagens/designer4.png" alt="Profissional Luna Gomez">
            <article>
                <h3>Designer</h3>
                <p class="user-info">Luna Gomez</p>
            </article>
        </article>
    </article>

 