

<header class="topbar">
    <section class="topbar-content">
      <section class="img-logo">
        <img src="imagens/logo.png" id="logo-1" onclick="location.href='/index'">
        <img src="imagens/traço perfeito.png" id="logo-2" onclick="location.href='/index'">
      </section> 
      
      <section class="perfil-adm">
        <p>Sthefany Rocha</p>
        <img src="imagens/fotoperfiladm.png" alt="foto de perfil" class="foto-perfil">
      </section>
    </section>
  </header>    

<section class="container">
    <aside class="sidebar">
        <ul>
            <li><a href="/adm-inicial">Início</a></li>
            <li><a href="/adm-lista-usuarios">Usuários</a></li>
            <li><a href="/adm-lista-denuncias">Denúncias</a></li>
            <li>Planos</li>
            <li>Ajustes</li>
            <li>Mensagens</li>
         
        </ul>

        <section class="logout-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
          <span> Sair</span>
        </section>
    </aside>