<!-- <link rel="stylesheet" href="css/menu.css">
    <header>
        <nav class="menu" id="menu" role="navigation">
    
    
           <section class="logo-container">
               <img src="imagens/logo.png" id="logo"><a href="#" class="logo" ></a></img>
               <img src="imagens/traço perfeito.png" id="traco" alt="Traço Perfeito">
           </section>



           <section class="menuToggle">
          
            <span></span>
            <span></span>
            <span></span>
    
 
    
            <ul id="menu">
                <li><p><a href=/index class="pri">EXPLORAR</a></p></li>
                <li><p><a href=/contratar class="ter">CONTRATAR</a></p></li>
                <li><p><a href=/quemsomos class="qua">QUEM SOMOS</a></p></li>
                <li><p><a href=/cadastro class="direita02">CADASTRAR-SE</p></a></li>
                <li><p><a href=/login class="direita01">ENTRAR</a></p></li>
                
            </ul>

        </section>
           
        </nav>
    </header>
     -->


     <link rel="stylesheet" href="css/menu.css">


     <header>
        <nav>
          <section class="logo-container">
            <a class="logo" href="/"> <img src="imagens/logo.png" id="logo"></a>
            <a class="logo" href="#"> <img src="imagens/traço perfeito.png" id="logo-traco-perfeito"></a>
          </section>
  
  
          <section class="mobile-menu">
            <section id="line1" class="bar"></section>
            <section id="line2" class="bar"></section>
            <section id="line3" class="bar"></section>
            </section>
  
  
          <ul class="nav-list">
  
            <li><a href="/index">EXPLORAR</a></li>
            <li><a href="/contratar">CONTRATAR</a></li>
            <li><a href="/quemsomos">QUEM SOMOS</a></li>
  
            <!-- <section class="links-entrar"> -->
              <li><a href="/login">LOGIN</a></li>
              <li><a href="/cadastro">CADASTRAR-SE</a></li>
            <!-- </section> -->

            <li id="icon-config"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/></svg></li>
  
          </ul>
        </nav>
      </header>

