<link rel="stylesheet" href="css/menu.css">  


    
    <header>
        <nav>
          <section class="logo-container">
            <a class="logo" href="/"> <img src="imagens/logo.png" id="logo"></a>
            <a class="logo" href="#"> <img src="imagens/traço perfeito.png" id="logo-traco-perfeito"></a>
          </section>
  
  
          <section class="mobile-menu">
            <section id="line1" class="bar"></section>
            <section id="line2" class="bar"></section>
            <section id="line3" class="bar"></section>
            </section>
  
  
          <ul class="nav-list">
  
            <li><a href="/explorar-logado">EXPLORAR</a></li>
            <li><a href="/contratar-logado">CONTRATAR</a></li>
            <li><a href="/oportunidades">OPORTUNIDADES</a></li>
  
            <!-- <section class="links-entrar"> -->
              <li><a href="/nova-publicacao">NOVA PUBLICAÇÃO</a></li>
              <li><a href="/meu-perfil-artista">MEU PERFIL</a></li>
            <!-- </section> -->
  
          </ul>
        </nav>
      </header>

    
  