<link rel="stylesheet" href="css/menu.css">  


    <header>
        <nav class="menu" id="menu">
    
    
           <img src="imagens/logo.png" id="logo"><a href="#" class="logo" ></a></img>
           <img src="imagens/traço perfeito.png" id="traco" alt="Traço Perfeito">
    
    <!--
           <section class="mobile-menu">
    
            <section class="line1"></section>
            <section class="line2"></section>
            <section class="line3"></section>
    
    
           </section>
    
           -->
            <ul>
                <li><p><a href=/explorar-logado class="pri">EXPLORAR</a></p></li>
                <li><p><a href=/contratar-logado class="ter">CONTRATAR</a></p></li>
                <li><p><a href=/oportunidades class="qua">OPORTUNIDADES</a></p></li>
                <li><p><a href=/nova-publicacao >NOVA PUBLICAÇÃO</p></a></li>
                <li><p><a href=/meu-perfil-artista > MEU PERFIL</a></p></li>
                
            </ul>
           
        </nav>
    </header>
    
  