<link rel="stylesheet" href="/css/menu.css">
   <header class="header">
      
    <img src="/imagens/logo.png" id="logo-1"  onclick="location.href='/'">
    <img src="/imagens/traço perfeito.png"  id="logo-2"  onclick="location.href='/'">
   
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><section class="navicon"></section></label>
    <ul class="menu">  
      <li><a href=/ >Explorar</a></li>
      <li><a href=/contratar >Contratar</a></li>
      <li><a href=/nova-publi-c-c > Criar Proposta de Projeto</a></li>
  <!-- Parte do menu omitida -->

  <section class="divisor"></section>

<li class="user-dropdown" onclick="toggleUserMenu(); event.stopPropagation();">
 <section class="nome-img">

  
          <%
  const nome = nome_usuario || 'Usuário'; // evita erro se for undefined
  const primeiroNome = nome.split(' ')[0];
  const nomeCurto = primeiroNome.length > 18 
    ? primeiroNome.substring(0, 18) + '...' 
    : primeiroNome;



    
          let arquivo = { imagem: "imagens/foto-perfil.png" }; 
    
         if (autenticado.img_perfil_pasta) {
          arquivo.imagem = autenticado.img_perfil_pasta;
        } else if (autenticado.img_perfil_banco) {
          arquivo.imagem = autenticado.img_perfil_banco;
        }

%>

   
    <img src="/<%= arquivo.imagem %>" alt="Foto de perfil" class="user-avatar">


    
     <p class="user-name">Olá, <%= nomeCurto %>!</p>
 </section>
 <!-- Menu suspenso -->
<section class="user-menu" id="userMenu" onclick="event.stopPropagation()">
    <ul>
      <li><a href="/meu-perfil-artista"> <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z"/></svg>Meu Perfil</a></li>
     
           <li><a href="/notificacoes"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z"/></svg>Notificações</a></li>
      <li><a href="/chat-logado"> <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M880-80 720-240H320q-33 0-56.5-23.5T240-320v-40h440q33 0 56.5-23.5T760-440v-280h40q33 0 56.5 23.5T880-640v560ZM160-473l47-47h393v-280H160v327ZM80-280v-520q0-33 23.5-56.5T160-880h440q33 0 56.5 23.5T680-800v280q0 33-23.5 56.5T600-440H240L80-280Zm80-240v-280 280Z"/></svg>Minhas Conversas</a></li>
    
      <li class="config-dropdown" >
        <section id="configuracoes" >
          
              <button class="config-toggle" onClick="toggleSection('config-options', 'config-arrow')">
                <svg xmlns="http://www.w3.org/2000/svg" id="config-svg" height="0px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/></svg>
             
                
                   <p>Configurações</p>
                  
                     <svg class="arrow-down" id="config-arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="#fff">
                       <path d="M12 16.5l-9-9 1.5-1.5L12 13.5l7.5-7.5 1.5 1.5z"/>
                     </svg>
               
              </button>

              <section id="config-options" class="config-options">
            <button id="temas">

                            <label
                for="themeToggle"
                class="themeToggle st-sunMoonThemeToggleBtn"
                type="checkbox"
                
              >
                <input type="checkbox" id="themeToggle" class="themeToggleInput" />
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  stroke="none"
                >
                  <mask id="moon-mask">
                    <rect x="0" y="0" width="20" height="20" fill="white"></rect>
                    <circle cx="11" cy="3" r="8" fill="black"></circle>
                  </mask>
                  <circle
                    class="sunMoon"
                    cx="10"
                    cy="10"
                    r="8"
                    mask="url(#moon-mask)"
                  ></circle>
                  <g>
                    <circle class="sunRay sunRay1" cx="18" cy="10" r="1.5"></circle>
                    <circle class="sunRay sunRay2" cx="14" cy="16.928" r="1.5"></circle>
                    <circle class="sunRay sunRay3" cx="6" cy="16.928" r="1.5"></circle>
                    <circle class="sunRay sunRay4" cx="2" cy="10" r="1.5"></circle>
                    <circle class="sunRay sunRay5" cx="6" cy="3.1718" r="1.5"></circle>
                    <circle class="sunRay sunRay6" cx="14" cy="3.1718" r="1.5"></circle>
                  </g>
                </svg>
              </label>

              Tema 

              </button>


            <section id="tamanho-fonte">Tamanho da fonte</section>
           
              </section>
          
            
        </section>
</li>
     
     
      <li ><a href="#" id="openLogoutModal"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>Sair da conta</a></li>
    </ul>
  </section>

</li>

  </header>

   <%- include('../partials/modal-logout'); %>

 

 
  
  
<script src="/js/menu.js"></script>
<script src="/js/modos.js"></script>