

<section class="card" onclick="location.href='/perfilalogado'">
    <section class="card-header">
        <img src="imagens/bannerperfil.jpg" alt="Background Image" class="background-image">
    </section>
    <section class="card-content">
        <section class="profile">
            <img src="imagens/fotoperfil2.jpeg" alt="Profile Picture" class="profile-image">
            <section class="informacoes-card">
                <h2 class="name">Alicia Amaral</h2>
                <p class="role">Designer</p>
            </section>
            <ion-icon name="star-outline" class="far estrela-perfil" id="f-star"></ion-icon>
            <span class="rating">5</span>
        </section> 
        <section class="description">
            <p>Designer criativo, apaixonada por soluções visuais inovadoras. Transformo ideias em experiências impactantes através do design.</p>
        </section>
    </section>
</section>