<link rel="stylesheet" href="css/menu.css">


<!-- 
<footer class="rodape">

    <section class="img-rodape">
        <img src="imagens/logo.png" alt="Logotipo">

    </section>


    <section class="sobre-nos">
        <h2>Sobre nós</h2>
        <a href="#">Quem somos</a>
      
    </section>


   <section class="termos">

    <h2>Termos e condições</h2>

    <a href="#">Termos de uso</a> <br>
    <a href="#">Política de privacidade</a> <br>
    <a href="#">Regras da comunidade</a> 

   </section>

   <section class="suporte-footer">
    <h2 id="suporte">Suporte</h2>
    <a href="#"> Central de ajuda</a> <br>
    <a href="#"> Fale conosco</a><br>
    <a href="#"> Tutoriais </a>

    </section>

    <section class="redes-sociais">
        <!-- <h2 id="redes-sociais-h2">Acompanhe nossas redes sociais:</h2> 
        <a href="https://www.instagram.com/traco_perfeito_?igsh=N2JhZmUwdGo3MnNz" class="link-social"><i class="fa-brands fa-instagram"></i></a>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
    </section>

    <p class="final">© Traço Perfeito 2024</p>

  
</footer> -->
<footer class="rodape">
    <section class="img-rodape">
        <img src="imagens/logo.png" alt="Logotipo">
    </section>

    <section class="sobre-nos">
        <button class="footer-toggle" onclick="toggleSection('sobre-nos-links', 'sobre-nos-arrow')">
            <h2>Sobre nós</h2>
            <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 16.5l-9-9 1.5-1.5 7.5 7.5 7.5-7.5 1.5 1.5z"/>
            </svg>
        </button>
        <section id="sobre-nos-links" class="footer-links">
            <a href=/quemsomos class="link_aba">Quem somos</a>
        </section>
    </section>

    <section class="termos">
        <button class="footer-toggle" onclick="toggleSection('termos-links', 'termos-arrow')">
            <h2>Termos e condições</h2>
            <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 16.5l-9-9 1.5-1.5 7.5 7.5 7.5-7.5 1.5 1.5z"/>
            </svg>
        </button>
        <section id="termos-links" class="footer-links">
            <a href="#">Termos de uso</a><br>
            <a href="#">Política de privacidade</a><br>
            <a href="#">Regras da comunidade</a>
        </section>  
    </section>

    <section class="suporte-footer">
        <button class="footer-toggle" onclick="toggleSection('suporte-links', 'suporte-arrow')">
            <h2>Suporte</h2>
            <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 16.5l-9-9 1.5-1.5 7.5 7.5 7.5-7.5 1.5 1.5z"/>
            </svg>
        </button>
        <section id="suporte-links" class="footer-links">
            <a href="#">Central de ajuda</a><br>
            <a href="#">Fale conosco</a><br>
            <a href="#">Tutoriais</a>
        </section>
    </section>

    <section class="redes-sociais">
        <a href="https://www.instagram.com/traco_perfeito_?igsh=N2JhZmUwdGo3MnNz" class="link-social">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
    </section>

    <p class="final">© Traço Perfeito 2024</p>
</footer>

<script>
function toggleSection(sectionId, arrowId) {
    const section = document.getElementById(sectionId);
    const arrow = document.getElementById(arrowId);
    if (section.classList.contains('active')) {
        section.classList.remove('active'); // Esconde a seção
        arrow.classList.remove('arrow-up');
        arrow.classList.add('arrow-down'); // Alterna para seta para baixo
    } else {
        section.classList.add('active'); // Mostra a seção
        arrow.classList.remove('arrow-down');
        arrow.classList.add('arrow-up'); // Alterna para seta para cima
    }
}

function toggleSection(sectionId) {
    const section = document.getElementById(sectionId);
    const button = section.previousElementSibling.querySelector('svg');

    if (section.classList.contains('active')) {
        section.classList.remove('active'); // Esconde se estiver visível
        button.classList.remove('arrow-up');
        button.classList.add('arrow-down'); // Muda para seta para baixo
    } else {
        section.classList.add('active'); // Mostra se estiver oculto
        button.classList.remove('arrow-down');
        button.classList.add('arrow-up'); // Muda para seta para cima
    }
}
</script>
