<link rel="stylesheet" href="css/menu.css">



<footer class="rodape">

    <section class="img-rodape">
        <img src="imagens/logo.png" alt="Logotipo">
    </section>

   <section class="info-rodape">

       <h1>TRAÇO PERFEITO</h1>
       <p>Lorem ipsum dolor sit, amet coquatur!</p>

   </section>

   <section class="termos">

    <h1>TERMOS E CONDIÇÕES</h1>
   </section>

   <section class="rodape_fale_conosco">
    <h1 id="fale-conosco">FALE CONOSCO</h1>
    <a href="https://www.instagram.com/traco_perfeito_?igsh=N2JhZmUwdGo3MnNz" class="link-social"><i class="fa-brands fa-instagram"></i></a>
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-linkedin"></i>
    <i class="fa-brands fa-square-x-twitter"></i>

  </section>
</footer>