.editar-botao {
    padding: 10px;
    background-color: #01C38D;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}
 
.editar-botao:hover {
    background-color: #0b6666;
}
 
.suspenso-conteudo {
    display: none; /* Escondido por padrão */
    background-color: #01C38D;
    min-width: 200px;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 
.suspenso-conteudo form {
    display: flex;
    flex-direction: column;
}
 
.suspenso-conteudo label,
.suspenso-conteudo input {
    margin: 5px 0;
}

.email:valid {
    background-image: url('data:image/svg+xml,...');
  border-color: var(--color-primary);
}

.salvar {
    border-radius: 4px;
}