
.slider-content img { 



display: block; 
width: 500px;
height: 300px;



} 

.navigationauto { 

position: absolute; 

width: 100%; 
display: flex; 

justify-content: center; 
bottom: 10px; 

} 

.auto-btn-1, .auto-btn-2, .auto-btn-3 { 
border: 2px solid #ddd; 

padding: 5px; 
border-radius: 10px; 
margin: 0 5px; 

cursor: pointer; 
transition: background 0.5s; 

} 

#radio1:checked ~ .slider-content { 

transform: translateX(0); 

} 

#radio2:checked ~ .slider-content { 

transform: translateX(-100%); 

} 

#radio3:checked ~ .slider-content { 

transform: translateX(-200%); 

} 