/* 
.slider{
    display: block;
    height: 250px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;

}
 .slider li{
    list-style:none;
    position: absolute;
 
 }
 .slider img{
    margin-bottom: auto;
     margin: auto;
     height: 250px;
     width: 100%;
     vertical-align: top;
    
 
 }
  .slider input{
    display: none;
 
  }

 
 
  .slider li:nth-child(1) label{
    left: 10px;
  }
 
.slider li:nth-child(2) label{
    left: 40px;
}
 
.slider li:nth-child(3) label{
    left: 70px;
}
.slider img{
    opacity: 0;
    visibility: visible;
 
}
.slider li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}


} */


* {
    margin: 0;
    padding: 0;
}


.slider {
display: block;
height: auto; 
width: 100%;
margin: auto;
margin-bottom: 20px;
overflow: hidden; 
position: relative;
}

.slider li {
list-style: none;
display: none; 
}

.slider li input:checked ~ img {
display: block;
}



picture img {
margin: 0;
height: auto;
max-width: 100%;
display: block;
vertical-align: top;
}

picture img:hover{
    cursor: pointer;
}

.slider input {
display: none;
}


.button-holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-decoration: none;
}


.call-to-action {
    background-color:rgb(12, 53, 77);
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    transform: translateY(-50px);
    align-content: center;
    top: -80px;
    border: none;
    grid-column: 2;
    width: 300px;
    margin: auto;
    cursor: pointer;
    grid-column: 2;
    transition: all 0.4s;
    font-family: "Montserrat";
    text-transform: uppercase;

       
}

.call-to-action:hover{
    transform: translateY(-60px) ;
}




@media (max-width: 500px) {

    
    .call-to-action {
    
        width: 180px;
        font-size: 15px;
    
      
    }
    }

