@import url(cores.css);

*{
    padding: 0;
    margin: 10;

}





.container-pag-explorar {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
    margin: 30px 50px;
    color: var(--text-color);

}


  .foto-perfil-explorar {
    width: 10%;
    height: 10%;
    border-radius: 50%;
   
}

    
.item-explorar{
    height: auto;
    /* min-width: 270px; */
    border-radius: 7px;
} 

.publicacao-img{
    width: 100%;
    border-radius: 7px;
    object-fit: cover;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
    aspect-ratio: 4/3;
   
}

.publicacao-img:hover {
    filter: brightness(50%);
    transition: all 0.2s;
}

.nome-e-btn-like{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.foto-nome-dono-publi{
    width: 100%;
    display: flex;
    align-items: center;
}

.nome-dono-post-ex a{
    font-family: "Josefin Sans";
    color: var(--text-color);
    margin-left: 10px;
}

.descricao-item-explorar {
    font-family: "Josefin Sans";
    font-size: 12px;

}


.like-button{
    background-color: transparent;
    border: 0px;
    font-size: 110%;
    transition: all 0.2s;
    color: var(--text-color);
}

.like-button:hover{
    font-size: 115%;
    transform: translateY(-3px) ;
   

   
}

.like-button.liked{
    color: red;
}
 




@media (max-width:1000px){

    .container-pag-explorar {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 50px;
        margin: 30px 25px;

    }

}


  
  @media (max-width: 670px) {

    .container-pag-explorar {

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 50px;
        margin: 30px 25px;

    }

    .item-explorar{
        min-width: none;
      
    } 


  }


  @media (max-width:500px) {

    .container-pag-explorar {

        display: block;
        margin: 30px 25px;

    }

    .foto-perfil-explorar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

        
    .item-explorar{
        margin-bottom: 50px;
        height: auto;
        min-width: 300px;
        border-radius: 7px;
    } 

    .publicacao-img{
        width: 100%;
        height: 250px;
        border-radius: 7px;
        object-fit: cover;
        box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
    }

    .nome-e-btn-like{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
    }

    .foto-nome-dono-publi{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .nome-dono-post-ex a{
        font-family: "Josefin Sans";
        color: var(--text-color);
        margin-left: 10px;
    }

    .descricao-item-explorar {
        font-family: "Josefin Sans";

    }

    .like-button{

        font-size: 130%;
    }



  }
  

.menu-opcoes {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    z-index: 2;
    flex-direction: column;
    align-items: flex-end;
}

.menu-opcoes:hover{
    cursor: pointer;
}

:is(.item-explorar:hover, .menu-opcoes:hover) .publicacao-img {
    filter: brightness(50%);
    transition: all 0.2s;
}

.icone-menu {
    cursor: pointer;
    color: white;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.3s;
}

.opcoes-menu {
    display: none;
    flex-direction: column;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}

.opcoes-menu button {
    padding: 8px 12px;
    border: none;
    background: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-family: "Josefin Sans";
    font-size: 14px;
}

.opcoes-menu button:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* mostra o menu-opcoes ao passar o mouse na imagem */
.item-explorar {
    position: relative;
}

.item-explorar:hover .menu-opcoes {
    display: flex;
}

/* mostrar opções ao clicar (script) */
.menu-opcoes.ativo .opcoes-menu {
    display: flex;
}















.acoes-postagem {
 display: flex;
 align-items: center;
 gap: 6px; 
 margin-top: 5px; 
}
 
.acoes-postagem {
 background: none;
 border: none;
 cursor: pointer;
 font-size: 18px;
 padding: 0;
 color: #333;
}
 

.btn-denunciar {
 background: none;
 border: none;
 cursor: pointer;
 font-size: 16px;
 padding: 0 5px;
 margin-top: 3px;
}
 

 
 
.modal {
 display: none;
 position: fixed;
 z-index: 1000;
 left: 0; top: 0;
 width: 100%; height: 100%;
 background-color: rgba(80, 18, 18, 0.4);
}
 
.modal-content {
 background-color: #fff;
 margin: 15% auto;
 padding: 50px;
 width: 300px;
 border-radius: 8px;
}
 
 
 
 
 
 
 
 
 
#modalDenuncia {
 display: none;
 position: fixed;
 z-index: 1000;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgba(0,0,0,0.5);
}
 
 
.modal-content {
 background-color: #fff;
 margin: 10% auto;
 padding: 20px 30px;
 border-radius: 8px;
 width: 400px;
 box-shadow: 0 4px 12px rgba(0,0,0,0.2);
 animation: aparecer 0.3s ease;
 font-family: Arial, sans-serif;
}
 
 
.modal-content h3 {
 margin-top: 0;
 margin-bottom: 35px;
 font-size: 20px;
 color: #333;
}
 
 
.modal-content label {
 display: flex;
 align-items: center;
 margin-bottom: 8px;
 font-size: 16px;
 color: #444;
}
 
.modal-content input[type="radio"] {
 margin-right: 8px;
}
 
 
.modal-content button {
 padding: 8px 16px;
 margin-top: 12px;
 margin-right: 10px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 font-weight: bold;
}
 
.modal-content button[type="submit"] {
 background-color: var( --cor-btn-azul);
 color: var(--cor-fundo);
}
 
.modal-content button[type="button"] {
 background-color: #6c757d;
 color: white;
}
 
.modal-content button:hover {
 opacity: 0.9;
}
 
 
@keyframes aparecer {
 from { opacity: 0; transform: translateY(-20px); }
 to { opacity: 1; transform: translateY(0); }
}