* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}


@media (max-width: 500px) {
    .container {
        margin: 10% 2.5%;
        padding: 10px;
        background-color: antiquewhite;
        width: 95%;
        border-radius: 5px;
        display: block;
    }

    .btn-voltar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(32, 123, 92, 0.511);
        border: none;
        color: rgb(18, 65, 50);
    }


    .secaoimagens {
        
        text-align: center;
    }

    #img1 {
        height: 40px;
    }

    #img2{
        width: 100px;
    }

   label {

    width: 100%;

    }

    input {
        width: 100%;
        margin: 7px 0px 20px 0px;
        padding: 10px 2px;
        border-radius: 5px;
    }

    .continue-button button {
        width: 100%;
        padding: 10px;
    }



}