@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.card.selected {
  border: 2px solid #76AEA6;
  box-shadow: 0 0 10px #9fe9de;
}


.montserrat-meu {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

  h1 {
    margin: 5%;
    color: #3d3d3d;
    font-family: "Montserrat";
  }

  h3, p {
    color: #3d3d3d;

  }

  p{
    margin: 10px 0 0 0;
  }

  #logo-nome {
    width: auto;
    height: 25px;
    margin: auto;
    display: block;
  }

  .form-wizard {
    max-width: 600px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .progress {
   
    margin: 10px 5%;
    height: 6px;
    background-color: #ddd;
    border-radius: 3px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  #progressBar {
    height: 100%;
    background-color:  #7193C7;
    width: 0%;
    transition: width 0.3s ease;
  }
  .form-step {
    display: none;
    margin: 5%;
  }
  .form-step.active {
    display: block;
  }
  .button-group {
    
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .button-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color:#316886;
    color: white;
    cursor: pointer;
  }
  .button-group button[disabled] {
    background-color: #aaa;
    cursor: not-allowed;
  }
  .card-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .card {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  
  /* 1 parte - tipo de conta */
  
  .tipo-conta-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .icone {
    width: 45px;
    height: auto;
  }

  #card-comum {
    border-radius: 10px;
    border: 2px solid #76AEA6;
    color: #2e4340;
  }

  #card-artista {

    border-radius: 10px;
    border: 2px solid #7193C7;
    color: #36465f;

  }

  #card-comum:hover{
    background-color: #76aea62f;
    
  }

  
  #card-artista:hover{
    background-color:  #7193c72e;
    
  }

  /* 2 parte - dados basicos */
  
  .dados-basicos {
    width: 100%;
    height: 28px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #727272;
    padding: 5px;
  }

  input:focus{
    border: 2px solid #316886;
    outline: none;

  }

  /* 3 parte - nasc e genero */

  .nasc-genero{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .data-nasc{
    width: 80%;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #727272;
    padding: 5px;

  }

  .data-nasc:focus{
    border: 2px solid #316886;
    outline: none;

  }

  .genero {
    right: 0;
  }

  /* 4 parte - senha */

    
    input[type="password"] {
        width: 100%;
        height: 28px;
        margin: 5px 0px;
        border-radius: 5px;
        border: 1px solid #727272;
        padding: 5px;
        
    }

    input[type="password"]:focus {
        border: 2px solid #316886;
        outline: none;    
        
    }




  .planos-container, .assinaturas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .nome-plano {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
  }

  .subtitulo-plano {
    font-family: "Josefin Sans";
    text-align: center;
    margin: 1px 0px;
    font-size: 14px;
    color: #888787;
  }

  .frase-plano {
    font-family: "Josefin Sans";
    margin: 30px 0;
    text-align: center;
  }

  .lista-conteudo{
    list-style-type: circle;
    padding: 0 0 0 20px;
    text-align: left;
    font-family: "Josefin Sans";

  }

  li {
    margin-bottom: 10px;
    color: #3d3d3d;
  }

  .plano-gratuito{
    border: 2px solid #7193C7;

  }

  .plano-gratuito .nome-plano{
    color: #7193C7;;
  }

  .plano-gratuito:hover{
    background-color: #7193c71d; 
  }

  .plano-gratuito.selected {
    background-color:  #7193c71a;
    border-color:  #7193C7;
  }
  

  .plano-pincel-ouro{
    border: 2px solid #D4AF37;
    transition: all 0.3s ease;

  }

  .plano-pincel-ouro .nome-plano{
    color: #D4AF37;

  }

  .plano-pincel-ouro:hover{
    background-color:  #d4af3710;;
  }

  .plano-pincel-ouro.selected {
    background-color:  #d4af3725;
    border-color:  #D4AF37;
  }
  


    
    @keyframes brilho {
        0% {
        box-shadow: 0 0 5px #d4af37;
        }

        
        50% {
         box-shadow: 0 0 9px #ffd700, 0 0 20px #d4af37;
         }
            
        100% {
        box-shadow: 0 0 12px #ffd700, 0 0 35px #d4af37;
        }
        
    }
    
    .plano-pincel-ouro:hover {
        animation: brilho 1.5s forwards;
        border-color: #ffd700;
        position: relative;
        cursor: pointer;
    }
    
/* //assinaturas */

    .assinaturas-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 20px;
    }

    .card-assinatura {
      
      min-width: 300px;
      border-radius: 10px;
      text-align: center;
      color: #888787;;
      
    }

    .titulo-assinatura {
      text-align: center;
      padding: 20px 10px;
      border-radius: 5px;
      color: #fff;
     
      transform: translateY(-40px);
     
    
      align-items: center;
      justify-content:  center;
      font-family: "Montserrat";
    
      font-weight: 500;
      text-transform: uppercase;
    }

    #mensal .titulo-assinatura{
      background-color:#7193C7;
    }

    
    #trimestral .titulo-assinatura{
      background-color:#8BC3E1;
    }

    
    #anual .titulo-assinatura{
      background-color:#8ED0D0;
    }


    .valor-assinatura{
      font-size: 180%;
      text-align: center;
      font-family: "Montserrat";
      font-weight: 600;
      transform: translateY(-20px);
    }

    .valor-por-mes {
       transform: translateY(-20px);
       text-align: center;
       font-size: 80%;
    }
    .descricao-assinatura{
      text-align: center;
      font-size: 90%;
      font-family: "Josefin Sans";
    }

    .span-custo{
      text-align: center;
      padding-top: 10px;
      font-size: 70%;
      font-family: "Poppins";
      color: #456464;
     
    }


    #botaoPagamento img {
      width: 100px;
      height: auto;
    }

    #botaoPagamento {
      padding: 10px;
      background-color: transparent;
      border-radius: 10px;
      border: 2px solid  #316886;
      font-family: "Montserrat";
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }

    #botaoPagamento:hover {
      cursor: pointer;
      background-color: rgba(90, 181, 231, 0.255)
    }

  



  
:root {
    --cor-fundo: White;
    --azul-menu: #132d46;
    --azul-mais-escuro: #122b42;
    --text-color: Black;
    --primary-color: #3a435d;
    --verdinho-transparente-barra: #acdabf7a;
    --texto-barra-pesquisa:  #165040;  /* Usado no texto da barra de pesquisa e da caixa de adicionar comentario */
    --borda-barra-pesquisa: transparent;
    --cor-botao: #132d46;
    --cor-btn-voltar: #acdabf7a;
    --cor-btn-voltar-seta: #165040;
    --cor-btn-voltar-section: rgba(224, 236, 240, 0.37);
    --cor-btn-voltar-texto: rgb(37, 39, 47);
    --cor-btn-voltar-borda: transparent;
    --cor-btn-voltar-hover: #648b747a;
    --cor-fundo-comentario: #acdabf7a;
    --cor-btn-azul: #132d46;
    --gradiente-carrossel-perfil: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.337), rgba(255, 255, 255, 0));
    --cor-fundo-card-perfis: transparent;
    --card-quem-somos: #132d46;
    --fundo-hover-filtro: transparent;
    --borda-hover-filtro:  #165040;
    --cor-fundo-ativo-n-pub: #acdabf7a;
    --cor-av-borda-n-pub:  #165040;
    --cor-fundo-ativo-img:  #7e9e8b7a;
}

/* #264869 */ 

.darkmode {

     --cor-fundo: rgb(37, 39, 47);  /*#131f24 cor do duolingo (bem dahorinha, testar pra ver) */
    --azul-menu: rgb(30, 36, 48);
    --text-color: rgb(224, 224, 224);
    --primary-color: #3a435d;
    --verdinho-transparente-barra: transparent;
    --texto-barra-pesquisa:  #fff;
    --borda-barra-pesquisa: #fff;
    --cor-botao: transparent;
    --cor-btn-voltar:  transparent;
    --cor-btn-voltar-seta: #e9faffbe;
    --cor-btn-voltar-section:  rgb(55, 58, 70);
    --cor-btn-voltar-texto: #e9faffbe;
    --cor-btn-voltar-borda: #e9faffbe;
    --cor-btn-voltar-hover:  #e9faff2e;
    --cor-fundo-comentario: rgb(55, 58, 70);
    --cor-btn-azul: #316886;
    --gradiente-carrossel-perfil: linear-gradient(to left, rgb(37, 39, 47), rgba(37, 39, 47, 0.697) , rgba(37, 39, 47, 0.056));
    --cor-fundo-card-perfis:  rgb(55, 58, 70);
    --card-quem-somos:  rgb(55, 58, 70);
    --fundo-hover-filtro: #316886;
    --borda-hover-filtro: White;
    --cor-fundo-ativo-n-pub: #316886bb;
    --cor-av-borda-n-pub: #316886bb;
    --cor-fundo-ativo-img: #598eab4d;

    --verde : #76AEA6;
    --verde-claro: #ADD9BD;
    --roxo: #94A6CD;
    --roxo-escuro: #7193C7;
    --lilas: #A6BFE0;
    --azul: #8BC3E1;
    --azul-claro: #B7E3F0;
    --verde-agua: #8ED0D0;

    

}


.input-erro {
  border: 1px solid red;
  background-color: #ffe6e6;
}
