
.botao-de-voltar{
    width: 100%;
    background-color:  rgba(224, 236, 240, 0.37);
    height: 5.5vh;
    display: flex;
    align-items: center;
    
}

.btn-voltar{
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #acdabf7a;
    color: #165040;
    margin: 0px 0px 0px 60px;
    font-size: 17px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lado-botao {
    margin: 0px 10px;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 15px;
    color: #474747;
}

.foto-perfil-con-ant {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.chat-container-principal {
    display: grid;
    grid-template-columns: 2fr 5fr; 
    grid-template-rows: auto;
    grid-template-areas: 
        "aba-minhas-conversas chat-atual";
    border-top: 1px solid #165040;

}

.chat-list {
    grid-area: aba-minhas-conversas;
    padding: 10px;
    background-color:#e0f2e7; 
    border-right: 1px solid #165040;

 
}

.chat-window {
    grid-area: chat-atual;
}



.abrir-con-ant {
    display: none;
}

.con-ant-h2-button {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-family: "Montserrat";
}

.con-ant-h2-button h2 {
    font-size: large;
}


.close-chat-list {
    visibility: hidden;
}


    
.lista-conversas-anteriores li {

    display: flex;
    align-items: center;
    height: 50px;
    font-family: "Josefin Sans";
    border-bottom: 1px solid #165040;

}

.lista-conversas-anteriores li:hover {
    background-color: #ACDABF;
}

.lista-conversas-anteriores li span {
    margin-left: 10px;
}

.msg-area {
    clear: both;
    padding: 10px;
    height: 70vh;
}


.nome-chat-atual{

    display: flex;
    align-items: center;
    background-color: #73bda89b;
    padding: 5px;
}

.nome-chat-atual h2 {
    margin-left: 10px;
    font-family: "Josefin Sans";
    font-size: 18px;
    font-weight: 400;
}

.mensagem-env,
.mensagem-rec {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}

.balao-msg,
.balao-msg-rec {
    max-width: 60%;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    word-wrap: break-word; 
    margin: 5px 0px 5px 10px;
    font-family: "Josefin Sans";
    font-weight: 350;
}

.balao-msg-rec {
    border-bottom-left-radius: 0;
}

.balao-msg {
    border-bottom-right-radius: 0;
}


.mensagem-env .balao-msg {
    background-color:#7193C7;
    color: White;
    float: right;
    text-align: right;
}

.mensagem-rec .balao-msg-rec {
    background-color: #b7e3f06e;
    color: #3f5b6b;
    width: fit-content;
    text-align: left;
}

.mensagem-rec {
    display: flex;
    align-items: center;
}


.msg-area {

    overflow-y: auto;

}



.area-digitar{

    display: flex;
    align-items: center;
    margin: 10px;
    margin-bottom: 10px;
    height: 30px;
}

    
.area-digitar input {
    background-color: #acdabf7a;
    width: 90%;
    height: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 0px;
    font-family: "Josefin Sans";

}

.area-input input::placeholder{
    color: #165040;
    opacity: 0.5;

}

#enviar-msg{
    background-color:  #acdabf7a;
    width: 10%;
    height: 130%;
    border: none;
    border-radius: 5px;
    color: #103b2b;
    font-size: 18px;
    margin-left: 5px;
    padding: 5px 0px;
}

.input-area {
    margin: 5px;
    padding-bottom: 0px; 
    height: 50px;
}

@media (max-width: 700px){

    .btn-voltar {
        margin: 0px 0px 0px 20px;
    }

    .chat-container-principal {
        display: block;
       width: 100%;
    
    }


    .chat-list {
        padding: 10px;
        position: fixed; /* Para que a aba de conversas seja fixa */
        top: 13.5vh; /* Altura do menu de navegação */
        bottom: 0;
        left: 0;
        width: 250px; 
        max-height: 80vh;
        background-color:#e0f2e7; /* Cor de fundo */
        overflow-y: auto; /* Para rolagem se necessário */
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        border-top: 1px solid #165040;
     
    }

    .abrir-con-ant {
        border: none;
        border-radius: 50%;
        background-color: transparent;
        color: #165040;
        margin: 0px 20px 0px 15px;
        display: block;
    }

    .con-ant-h2-button {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        font-family: "Montserrat";
        display: block;
    }

    .con-ant-h2-button h2 {
        font-size: large;
        
    }


    .close-chat-list {
        position: absolute;
        right: 10px;
        top: 3px;
        background-color: transparent; /* Fundo transparente */
        border: none; 
        border-radius: 50%;
        width: 35px;
        height: 35px;
        color: #165040; /* Cor do texto */
        font-size: 20px; /* Tamanho da fonte */
        cursor: pointer; 
        visibility: visible;
    }
    
    .close-chat-list:hover {
        color: #165040;
        background-color: #1650402e;
        transition: all 0.2s;
    }


    
    .lista-conversas-anteriores li {

        display: flex;
        align-items: center;
        height: 50px;
        font-family: "Josefin Sans";
        border-bottom: 1px solid #165040;

    }

    .lista-conversas-anteriores li:hover {
        background-color: #ACDABF;
    }

    .lista-conversas-anteriores li span {
        margin-left: 10px;
    }



    .chat-window {
        display: block;
    }

    .nome-chat-atual{

        display: flex;
        align-items: center;
        background-color: #73bda89b;
        padding: 5px;
    }

    .nome-chat-atual h2 {
        margin-left: 10px;
        font-family: "Josefin Sans";
        font-size: 18px;
        font-weight: 400;
    }

    .area-digitar{

        display: flex;
        align-items: center;
        margin: 10px;
        margin-bottom: 10px;
        height: 30px;
    }

        
    .area-digitar input {
        background-color: #acdabf7a;
        width: 90%;
        height: 100%;
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-bottom: 0px;
        font-family: "Josefin Sans";
    
    }

    .area-input input::placeholder{
        color: #165040;
        opacity: 0.5;

    }

    #enviar-msg{
        background-color:  #acdabf7a;
        width: 10%;
        height: 130%;
        border: none;
        border-radius: 5px;
        color: #103b2b;
        font-size: 18px;
        margin-left: 5px;
        padding: 5px 0px;
    }

    .input-area {
        margin: 5px;
        padding-bottom: 0px; 
        height: 50px;
    }



    
    .chat-container-principal.show-chat-list .chat-list{
        transform: translateX(0);
    }

    .chat-window {
        width: 100%;
    }

    .menu-button {
        display: block;
    }


}
