@import url(menu.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.principal {

    display: grid;
    grid-template-areas:
      
        "conversas-anteriores chat-atual"
        "conversas-anteriores mensagens"
        "conversas-anteriores mensagens"
        "conversas-anteriores entrada"
        
        ;
    grid-template-rows:  auto 1fr auto;
    grid-template-columns: 1fr 3fr;
    height: 80vh;
    gap: 0px;
}



.esquerda {

    grid-area: conversas-anteriores;
    padding: 10px;
    overflow-y: auto;
    width: 100%;
    border-right: 1px solid #01c38d;

}

#minhas-conversas {
    font-size: 150%;
    margin: 10px;
    font-family: "Montserrat";
    padding-bottom: 20px;
}

.conversa {
   
   border-bottom: 1px solid #01c38d;
   margin: 10px;
   padding: 10px;
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-areas: 
   "foto nome";
   font-size: small;

}

.conversa h2 {
    padding: 10px;
    font-family: "Josefin Sans";
    font-size: medium;
    grid-area: nome;

}

.conversa img {
    border-radius: 50%;
    width: 50px;
    height: auto;
    grid-area: foto;
}

.direita {
    
    grid-area: mensagens;
    background-color: #fff;
    
    overflow-y: auto;
 
    padding-top: 0px;
    margin-top: 0px;
  
}

.chat-atual {
    grid-area: chat-atual;
    color: #061036;
    background-color: rgba(224, 236, 240, 0.74);
    padding: 10px;
    margin: 0px;
    display: grid;
    grid-template-areas: 
    "fotoperfil nome";
    grid-template-columns: 1fr 17fr;
    border-bottom: #01c38d 1px solid;
    font-family: "Josefin Sans";

}

.foto-chat-atual {
    width: 30px;
    height: auto;
    border-radius: 50%;
    grid-area: fotoperfil;
   
}

#nome-chat-atual {
    padding: 7px 0px 5px 0px;
    margin: 0px;
}

.mensagens{
 
    
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    grid-auto-rows: 1fr 1fr 1fr;
   
    padding: 10px;
    overflow: scroll;
    height: 100%;
}

.mensagens::-webkit-scrollbar {
    display: none;
}


.msg-enviada{
    background-color: #ACDABF;
    border-radius: 15px;
    position: relative;
    width: fit-content;
    height: fit-content;
    min-width: 100px;
    max-width: 300px;
    padding: 0px;
    grid-column: 2;
    justify-self: end;
    margin: 15px 0px 15px 0px;
    width: 100%;
    color: #000000;
  
}

.msg-enviada::after{

    content: "";
    width: 10;
    height: 10;
    position: absolute;
    border-right: 20px solid transparent;
    border-top: 20px solid #ACDABF;
    border-left: 20px solid transparent;
    bottom: -20px;
    right: 10%;
}

.msg-enviada p {
    margin: 0px;
    padding: 10px;
    font-family: "Josefin Sans";
}



.msg-recebida{
    background-color: #8ED0D0;
    border-radius: 15px;
    position: relative;
    width: fit-content;
    height: fit-content;
    min-width: 100px;
    max-width: 300px;
    padding: 0px;
    margin: 25px 0px 25px 0px;
   display: block;
   width: 100%;
   color: #000000;

}

.msg-recebida::after{

    content: "";
    width: 10;
    height: 10;
    position: absolute;
    border-right: 25px solid transparent;
    border-top: 25px solid #8ED0D0;
    border-left: 25px solid transparent;
    bottom: -20px;
    left: 10%;
   
 
   
}

.msg-recebida p {
    margin: 0px;
    padding: 10px;
    font-family: "Josefin Sans";

   
}

.digite{
    
 
    padding: 10px 40px 10px 40px;
    margin: 5px;
    height: auto;
    cursor: pointer;
}

.digite input {
    background-color: #acdabf7a;
    width: 94%;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    margin-bottom: 0px;
    

}

#caixa-de-texto{
    background-color:  #acdabf7a;
    width: 5%;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    color: #103b2b;
    font-size: 18px;
    margin-bottom: 0px;
   
}

.input-area {
    margin: 5px;
    padding-bottom: 0px;
    height: 50px;
}
input:focus {
    border: 2px solid #01c38d; /* Altere a cor para a desejada */
    outline: none; /* Remove o contorno padrão do navegador */
}

#nova-mensagem {
    width: 100%;
}



.botao {
    padding: 10px 20px 10px 20px;
    margin: 0px;
    display: flex;
    background-color: rgba(224, 236, 240, 0.801);
    border-bottom: #01c38d solid 1px;
    
    }
    
    .lado-botao{
    padding: 5px;
    margin: 10px 0px 5px 10px;
    font-family: "Josefin Sans";
    
    }
    
    
    .btn-voltar{
        grid-area: botao;
        background-color: #acdabf7a;
        padding: 10px;
        border-radius: 50%;
        border: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
        
        
        }
    
    #seta {
    color:#165040;
    font-size: 20px;
    }
    