*{
    margin: 0;
    padding: 0;
}

.container-perfis {
    margin:auto;
    width: fit-content;
}


.card {
    background-color: var(--fundo);
    width: 320px;
    border-radius: 10px;
    border: 1px solid var( --borda-barra-pesquisa);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Josefin Sans';
    color: var(--text-color);
}

.card-header .background-image {
    width: 100%;
    height: 90px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    padding-top: 0px;
   
}

.card-content p {
    color: var(--text-color);
}

.profile {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
    margin-top: -40px; /* Ajuste solicitado */
}

.informacoes-card {
    margin-left: 15px;
}

.name-row {
    display: flex;
    align-items: center;
}

.name {
    font-size: 17px;
    margin: 0;
    font-weight: bold;
    color: var(--text-color);
}

.role {
    color: #666;
    margin: 2px 0 0;
    font-size: 13px;
}

.estrela-perfil {
    color: #f5b301;
    font-size: 18px;
    margin-left: 45px;
    padding-bottom: 20px;
}

.rating {
    font-weight: bold;
    margin-left: 5px;
    padding-bottom: 20px;
}

.description {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}


.container-perfis {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 2em;

}


/* teste acaba aqui */

 
.pesquisas {
    margin-top: 20px;
}


/* Configurações do filtro aberto */

.secao-filtro {
    position: fixed;
    right: -350px;
    top: 70px;
    width: 300px;
    /* height: calc(100% - 100px);   */
    height: fit-content; 
    max-height: 700px;
    overflow-y: auto;
    background-color: var(--cor-fundo);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    color: var(--text-color);
    padding: 20px;
    transition: right 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    font-family: "Josefin Sans";
    z-index: 2;
  }
  
  .secao-filtro h2 {
    font-family: "Montserrat";
    color: var(--text-color);

  }
  .secao-filtro.open {
    right: 0; 
    opacity: 1;
  }
  
  .secao-filtro #fechar-aba {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
/* 
  #fechar-aba {
    color: #132d46;
    border: 1px solid #132d46;
  } */

  #aplicar-filtros{
        background-color: var(--cor-botao);
        color: #FFF;
        font-family: "Josefin Sans";
        padding: 10px;
        border-radius: 10px;
        border: 1px solid var(--borda-barra-pesquisa);
        margin-top: 20px;
  }
  
/* 
  Configurações expansão filtro */


  .linha {
     color:#132d462c;
  }

  .categoria-filtro {
    cursor: pointer;
    padding: 10px;
    border: none;
    margin: 5px 0;
    
}

.caret {
    margin-right: 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.caret.open {
    transform: rotate(90deg); 
}

.opcoes-categoria {
    display: none;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.opcoes-categoria input {
    margin-right: 10px;
}

.filtro-p{
    margin: 0px;
    padding: 10px 0px;
}

.mostrar-ranking{
    font-family: "Josefin Sans";
    font-size: medium;
    color: #fff;
    background: rgb(113,147,199);
    background: linear-gradient(90deg, rgba(113,147,199,1) 0%, rgba(148,166,205,1) 16%, rgba(166,191,224,1) 35%, rgba(139,195,225,1) 56%, rgba(142,208,208,1) 73%, rgba(172,218,191,1) 96%);
    border: none;
    border-radius: 10px ;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    -webkit-box-shadow: -1px 5px 20px -5px rgba(184,184,184,0.61);
    -moz-box-shadow: -1px 5px 20px -5px rgba(184,184,184,0.61);
    box-shadow: -1px 5px 20px -5px rgba(184,184,184,0.61);
    transition: all .4s;
}

.mostrar-ranking:hover{
    cursor: pointer;
    transform: translateY(-3px);
    background: rgb(113,147,199);
background: linear-gradient(120deg, rgba(113,147,199,1) 0%, rgba(148,166,205,1) 23%, rgba(166,191,224,1) 44%, rgba(139,195,225,1) 60%, rgba(142,208,208,1) 82%, rgba(172,218,191,1) 100%);

 }

#coroa {
    width: 20px;
    height: auto;
}

.estrelinhas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.estrela{
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    grid-column: 3;
    justify-self: end; 
    
}

.estrela:hover {
    cursor: pointer;
}

.estrela.selecionado{
   color: rgb(255, 208, 0);
   animation: reverse;
}

/* CONFIGURAÇÕES RESPONSIVIDADE */




@media (max-width: 1240px) {
 
    .container-perfis {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1050px) {
 
  

    .container-perfis {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px) {

   
    .container-perfis {
        grid-template-columns: 1fr; 
    }

}

@media (max-width: 1400px) {
    .container-perfis {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 724px) {
    .container-perfis {
        grid-template-columns: repeat(1, 1fr);
    }
}