@import url(scroll-bar.css);


:root {
    --cor-fundo: #faf9f6;
    --azul-menu: #132d46;
    --azul-mais-escuro: #122b42;
    --text-color: #5f5c5d;
    --primary-color: #3a435d;
    --verdinho-transparente-barra: #acdabf7a;
    --texto-barra-pesquisa:  #165040;  /* Usado no texto da barra de pesquisa e da caixa de adicionar comentario */
    --borda-barra-pesquisa: transparent;
    --cor-botao: #132d46;
    --cor-btn-voltar: #acdabf7a;
    --cor-btn-voltar-seta: #165040;
    --cor-btn-voltar-section: rgba(224, 236, 240, 0.37);
    --cor-btn-voltar-texto: rgb(37, 39, 47);
    --cor-btn-voltar-borda: transparent;
    --cor-btn-voltar-hover: #648b747a;
    --cor-fundo-comentario: #acdabf7a;
    --cor-btn-azul: #132d46;
    --gradiente-carrossel-perfil: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.337), rgba(255, 255, 255, 0));
    --cor-fundo-card-perfis: transparent;
    --card-quem-somos: #132d46;
    --fundo-hover-filtro: transparent;
    --borda-hover-filtro:  #165040;
    --cor-fundo-ativo-n-pub: #acdabf7a;
    --cor-av-borda-n-pub:  #165040;
     --cor-borda-n-pub:  #165040;
    --cor-fundo-ativo-img:  #7e9e8b7a;
    --balao-msg2: #7193C7;
    --balao-msg1: #b7e3f06e;
    --verde-chat: #73bda89b;
    --lado-chat: #e0f2e7;  
    --verde2-chat: #165040;
    --hover-chat: #ACDABF;
    --cor1-not: #B7E3F0;
    --cor2-not: #b7e3f07d;
    --cor3-not:  #7193C7;
    --cor-fundo-not: transparent;
    --cor-fundo-not-hover: #f0f4f8;
    --border-scroll: #fff;
    --scroll-background:  #132d46;
    --scroll-thumb: #94a2b5;
    --scroll-thumb-hover:#7193C7;
    --linha-pesquisa: rgba(0, 0, 0, 0.1); 
    --cor-text-np:  #165040;
    --cor-borda-btn-1: transparent;

}

/* #264869 */ 
/* rgb(22, 24, 29); rgb(27, 26, 32); Outra cor legal pro fundo no modo escuro*/
.darkmode {

     --cor-fundo: rgb(37, 39, 47);  /*#131f24 cor do duolingo (bem dahorinha, testar pra ver) */
    --azul-menu: rgb(30, 36, 48);
    --text-color: rgb(224, 224, 224);
    --primary-color: #3a435d;
    --verdinho-transparente-barra: transparent;
    --texto-barra-pesquisa:  #fff;
    --borda-barra-pesquisa: #fff;
    --cor-botao: transparent;
    --cor-btn-voltar:  transparent;
    --cor-btn-voltar-seta: #e9faffbe;
    --cor-btn-voltar-section:  rgb(55, 58, 70);
    --cor-btn-voltar-texto: #e9faffbe;
    --cor-btn-voltar-borda: #e9faffbe;
    --cor-btn-voltar-hover:  #e9faff2e;
    --cor-fundo-comentario: rgb(55, 58, 70);
    --cor-btn-azul: #316886;
    --gradiente-carrossel-perfil: linear-gradient(to left, rgb(37, 39, 47), rgba(37, 39, 47, 0.697) , rgba(37, 39, 47, 0.056));
    --cor-fundo-card-perfis:  rgb(55, 58, 70);
    --card-quem-somos:  rgb(55, 58, 70);
    --fundo-hover-filtro: #316886;
    --borda-hover-filtro: White;
    --cor-fundo-ativo-n-pub: #316886bb;
    --cor-av-borda-n-pub: #316886bb;
     --cor-borda-n-pub:  #fafafa;
    --cor-fundo-ativo-img: #598eab4d;
    --balao-msg2: rgb(55, 58, 70);
    --balao-msg1: #ceeeff;
    --verde-chat: #3b3e46;
    --lado-chat:  rgb(30, 36, 48);
    --verde2-chat: #316886bb;
    --hover-chat: rgb(49, 58, 77);
    --cor1-not:  #556e93;
    --cor2-not: rgb(55, 58, 70);
    --cor3-not:  #c3d1e7;
    --cor-fundo-not:  rgb(42, 44, 51);
    --cor-fundo-not-hover: #3b3e46;
    --border-scroll: transparent;
    --scroll-background:   #6a7990;
    --scroll-thumb: rgb(207, 211, 219);
    --scroll-thumb-hover: #ffffff;
    --linha-pesquisa: rgba(255, 255, 255, 0.1); 
    --cor-text-np:  #fafafa;
    --cor-borda-btn-1: white;
}

