/* 

 * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }



  a {
    color: #f4f4f4;
  }
  
  /* header 

 #logo-1 {
    width: 35px;
    height: 35px;
    margin: 10px 5px 10px 5%;
 }
 #logo-2 {
    height: 20px;
    width: auto;
    margin-bottom: 15px;
 }
  .header {
    background-color:#132d46;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 3;

  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color:#132d46;
  
  }
  
  .header li a, #icon-config{
    display: block;
    padding: 15px 20px;
  
    text-decoration: none;
    color: White;
    transition: all 0.2s;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 90%;
  }
  
  .header li a:hover,
  .header .menu-btn:hover, #icon-config:hover {
    transform: translateY(-3px);
    
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  

  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 25px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: White;
    display: block;
    height: 2px;
    border-radius: 10px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    
  }

  .navicon{
    margin-bottom: 7px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: White;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    border-radius: 10px;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  

  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 360px;
  }

  
  .header .menu-btn:checked ~ .menu li {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.7s;

  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }


  
.config-section {
  display: none;
  background-color: var(--azul-menu);
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 70px;
  z-index: 2;
}


.config-section.open {
  display: block;
  padding-left: 40px;
  margin: 0;
}

#config-nome{
  display: none;
}

.opcoes-config{
  display: flex;
  align-items: center;
}

.nomes-opcoes-config {
  margin-left: 10px;
}



#theme-switch{
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

}

#theme-switch svg{
  fill: White;
}

#theme-switch svg:last-child{
 display: none;
}

.darkmode #theme-switch svg:first-child{
  display: none;
}

.darkmode #theme-switch svg:last-child{
  display: block;
}



@media (max-width: 1020px) {
  .config-section {
      position: static; 
      padding-left: 20px;
      margin-top: 10px; 
     
  }

  #config-nome{
      display: block;
      color: #ffffff;
      font-family: "Montserrat";
      font-size: 90%;
  }

  .icon-nome-config {
      display: flex;
      align-items: center;
  }
  
}
  

  
  @media (min-width: 1020px) {
    .header li {
      float: left;
     
    }
    .header li a {
      padding: 20px 30px;
      
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  } */

  @import url(cores.css);

  
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--cor-fundo);
}



a {
  color: #f4f4f4;
}

/* header */

#logo-1 {
  width: 35px;
  height: 35px;
  margin: 10px 5px 10px 5%;
}
#logo-2 {
  height: 20px;
  width: auto;
  margin-bottom: 15px;
}
.header {
  background-color:var(--azul-menu) ;/*#132d46; */
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  /* position: fixed; */
  width: 100%;
  z-index: 3;

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--azul-menu)

}

.header li a, #icon-config{
  display: block;
  padding: 15px 20px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  color: White;
  transition: all 0.2s;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 90%;
}

.header li a:hover,
.header .menu-btn:hover, #icon-config:hover {
   transform: translateY(-3px); 
   cursor: pointer; 
 
  
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

#logo-1:hover, #logo-2:hover {
  cursor: pointer;;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 25px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: White;
  display: block;
  height: 2px;
  border-radius: 10px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  
}


.navicon{
  margin-bottom: 7px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: White;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  border-radius: 10px;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 400px;
}


.header .menu-btn:checked ~ .menu li {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s;

}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}



.config-section {
  display: none;
  background-color: var(--azul-menu);
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 70px;
  z-index: 2;
}


.config-section.open {
  display: block;
  padding-left: 40px;
  margin: 0;
}

#config-nome{
  display: none;
}

.opcoes-config{
  display: flex;
  align-items: center;
}

.nomes-opcoes-config {
  margin-left: 10px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 80%;
}



#theme-switch{
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

}

#theme-switch svg{
  fill: White;
}

#theme-switch svg:last-child{
 display: none;
}

.darkmode #theme-switch svg:first-child{
  display: none;
}

.darkmode #theme-switch svg:last-child{
  display: block;
}




@media (max-width: 1230px) {
  .config-section {
      position: static; 
      padding-left: 20px;
      margin-top: 10px; 
     
  }

  #config-nome{
      display: block;
      color: #ffffff;
      font-family: "Montserrat";
      font-size: 90%;
  }

  .icon-nome-config {
      display: flex;
      align-items: center;
  }

  
/* .header li a:hover,
.header .menu-btn:hover, #icon-config:hover, .icon-nome-config:hover {
 
   cursor: pointer; 
   background-color: #7193C7;
   color: #fff;
   font-weight: 600;
 
  
} */
  
}

 
@media (min-width: 1230px) {
  .header li {
    float: left;
   
  }
  .header li a {
    padding: 20px 30px;
    
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .config-section {
    position: static;
    padding-left: 20px;
}

}

  




    

  
/* 
CONFIGURAÇÕES RODAPE */
 .rodape{
  background-color: var(--azul-menu);
  color: White;
  font-family: "Montserrat";
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "sobre-nos termos suporte"
                        "redes logo-nome final";
  padding: 5% 5% 5% 5%
 
}


h2 {
  font-family: "Montserrat";
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 600;

}


.footer-toggle {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.img-rodape {
  grid-area: logo-nome;

  display: grid;
  place-items: center;
  align-items: end;

}

.img-rodape img {
  width: 30px;
  height: 30px;
  position: relative;
  bottom:0px;
 
}

.sobre-nos {
  grid-area: sobre-nos;
 
}

.termos {
  grid-area: termos;
  padding: 0px 15% 0px 15%;
 
  
}

.suporte-footer {
  grid-area: suporte;
  align-content: right;
  padding: 0px 0px 0px 50%;
 
}





.final {
  grid-area: final;
  position: relative;
  text-align:  right;
  align-self: flex-end;
  color: White;
 
  
}



.redes-sociais {
  grid-area: redes;
  border: none;
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
}

.redes-sociais i {
  font-size: 18px;
  opacity: 75%;
  transition: all 0.2s;
 
  
}

.redes-sociais i:hover{
  opacity: 100%;
  cursor: pointer;
  transform: translateY(-3px) ;
}







/* Rodapé */
@media (max-width: 800px) {
  .rodape {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "sobre-nos"
      "termos"
      "suporte"
      "redes"
      "logo-nome"
      "final";
    row-gap: 50px;
    height: fit-content;
    padding: 20px;
    text-align: left;
   
  }

  .img-rodape {
    grid-area: logo-nome;
  }

  .img-rodape img {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: -10px;
  }

  .sobre-nos {
    grid-area: sobre-nos;
    padding: 0;
  }

  .termos {
    grid-area: termos;
    padding: 0;
  }

  .suporte-footer {
    grid-area: suporte;
    padding: 0;
  }

  .redes-sociais {
    grid-area: redes;
    border-top: 1px solid #fff;
    padding: 20px 20% 0px 20%;
    display: flex;
    justify-content: space-between;

  }



  footer a {
    opacity: 75%;
    transition: all 0.2s;
  }

  footer a:hover{

    opacity: 100%;
    cursor: pointer;
    

  }

  


  .final {
    grid-area: final;
    position: relative;
    top: -30px;
    text-align: center;
   
    
  }

  .img-rodape{
    display: grid;
    place-items: center;
  }

 


  .footer-toggle {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-toggle svg {
    width: 15px;  
    height: 15px;
    fill: #fff;
    opacity: 80%;  
    transition: transform 0.3s ease; 
  }

  

  .footer-toggle svg.arrow-down {
    transform: rotate(0deg); 
  }

  .footer-toggle svg.arrow-up {
    transform: rotate(180deg); 
  }

  .footer-links {
    margin-top: 10px;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.3s ease; 
    display: block; 
  }

  .footer-links.active {
    display: block;
    max-height: 500px;
  }

  .footer-links a {
    display: block; 
    margin: 10px 0 0 0; 
}


}


@media (min-width: 801px) {
  .footer-toggle svg {
    display: none; 
  }
}





