

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.base_cabecalho header {
  width: 100%;
  background: url("bg.png") no-repeat 50% 20% / cover;
  min-height: calc(100px + 15vw);
}

.base_cabecalho .coluna_contaneir .coluna-esquerda {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}

.base_cabecalho .coluna_contaneir .coluna-esquerda .img__container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translatex(-50%);
  cursor: pointer;
}
.base_cabecalho .coluna_contaneir .coluna-esquerda .img__container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.base_cabecalho .coluna_contaneir .coluna-esquerda .img__container span {
  position: absolute;
  background: #2afa6a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 3px;
  right: 11px;
  border: 2px solid #fff;
}
.base_cabecalho .coluna_contaneir .coluna-esquerda h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}
.base_cabecalho .coluna_contaneir .coluna-esquerda p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}
.base_cabecalho .coluna_contaneir .coluna-esquerda .sobre {
  justify-content: space-between;
  position: relative;
  margin: 35px 0;
}
.base_cabecalho .coluna_contaneir .coluna-esquerda .sobre li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 0.9rem;
}
.base_cabecalho .coluna_contaneir .coluna-esquerda .sobre li span {
  color: #1d1d1d;
  font-weight: 600;
}
.base_cabecalho .coluna_contaneir .coluna-esquerda .sobre:after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 100%;
}
.base_cabecalho .coluna_contaneir .sobre p {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.8em;
}
.base_cabecalho .coluna_contaneir .sobre ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.base_cabecalho .coluna_contaneir .sobre ul li {
  display: flex;
}
.base_cabecalho .coluna_contaneir .sobre ul i {
  font-size: 1.3rem;
}
.base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  flex-direction: column;
}
.base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita ul li a {
  text-transform: uppercase;
  color: #818181;
}
.base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita ul li:nth-child(1) a {
  color: #1d1d1d;
  font-weight: 600;
}
.base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita button {
  background: #0091ff;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
.base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita button:hover {
  opacity: 0.8;
}
.base_cabecalho .coluna_contaneir .coluna-direta .publi {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}
.base_cabecalho .coluna_contaneir .coluna-direta .publi img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.embaixo {
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 30px;
}

input[type='file'] {
  display: none;
}


/* Responsiveness */

@media (min-width: 868px) {
  .base_cabecalho .coluna_contaneir {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .base_cabecalho .coluna_contaneir .coluna-esquerda {
    padding: 25px 0px;
  }
  .base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita ul {
    flex-direction: row;
    gap: 30px;
  }
  .base_cabecalho .coluna_contaneir .coluna-direta .publi {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}

@media (min-width: 1017px) {
  .base_cabecalho .coluna_contaneir .coluna-esquerda {
    margin: 0;
    margin-right: auto;
  }
  .base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita {
    flex-direction: row;
  }
  .base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita button {
    margin-top: 0;
  }
}