
:root {
    --fundo: White;
    --variante: #e8e9ed;
    --cor-texto: Black;
    --cinza: #3a435d;
    --azul: #132d46;
}

.darkmode {

    --fundo: #1C2937;
    --base-variant: #464957;
    --text-color: rgb(255, 255, 255);
    --primary-color: #9ea4b9;
    --azul: #2b3e52;

}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg{
    fill: var(--primary-color);
}

#theme-switch svg:last-child{
   display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}


body{
    background-color: var(--base-color);
}

h1, h2{
    color: var(--text-color);
}

p {
    color: var(--text-color);
}

section {
    background-color: var(--basevariant);
}