

main{
    margin: 30px;
    font-family: "Josefin Sans";
 }

 
.novaPublicacao {
    margin: 10px 10px 0px 10px;
    font-family: "Montserrat";
}

.instrucao-tipo-btn {
    width: 100%;
    text-align: left;
    margin: 10px 10px 0px 10px;
    padding-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: space-around;
    width: 350px;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.ativo {
   
    background-color:rgba(172, 218, 191, 0.4784);
    color:  #1B6F57;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-family: "Josefin Sans";
   
}

.nao-ativo{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #1B6F57;
    background-color: transparent;
    font-family: "Josefin Sans";

}

.ativo a {
    text-decoration: none;
    color: #1B6F57;
}

.nao-ativo a {
    text-decoration: none;
    color: #1B6F57;

}


.nao-ativo:hover {
    transform: translateY(-3px) ;

    transition: all 0.4s ;

}

.p-explicativo-np {
    margin: 40px 10px 40px 10px;
    font-size: large;
}

 form {
    display: grid; /* Certifica-se de que o formulário seja um grid */
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
        "titulo      img"
        "descricao   img"
        "conteudo    img"
        "conteudo    publicar"; /* O botão "Publicar" ocupa as duas colunas */
    gap: 20px;
    margin: 10px;
}

.form-grupo-1:nth-child(1) {
    grid-area: titulo;
}

.form-grupo-1:nth-child(2) {
    grid-area: descricao;
}

.form-grupo-1:nth-child(4) {
    grid-area: conteudo;
}




.lugar-botar-img {
    grid-area: img; /* Área reservada para o upload de imagem */
}

.form-grupo-1 input {
    background-color: rgba(172, 218, 191, 0.4784);
    border-radius: 5px;
    border: none;
    width: 80%; 
    height: 45px;
    margin-bottom: 0px;
}

.form-grupo-1 input:hover {
    border: 1px solid #1B6F57;
}

.form-grupo-1 textarea {
    background-color:rgba(172, 218, 191, 0.4784);
    border-radius: 5px;
    border: none;
    resize: none; 
    width: 80%; 
    min-height: 100px; 
    max-height: 500px;
    height: fit-content;
    overflow-y: auto;
    margin-bottom: 10px;
}

.form-grupo-1 textarea:hover {
    border: 1px solid #1B6F57;
}

.lugar-botar-img {
    grid-area: img;
    display: grid;
}

#picture__input {
    display: none;
}

.picture {
    
    width: 80%;
    aspect-ratio: 16/9;
    background: rgba(172, 218, 191, 0.4784);
    display: flex;
    align-items: center;
    justify-self: flex-end;
    justify-content: center;
    color: #1B6F57;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
    border-radius: 10px;
   
}

.picture:hover {
    color: #1B6F57;
    background: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #1B6F57;
 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    max-width: 100%;
}

.btn-publicar {
    justify-self: flex-end;
    background-color:#1B6F57;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    grid-area: publicar;
    font-family: "Montserrat";
    
    transition: all 0.4s ;
}

.btn-publicar:hover{
    cursor: pointer;
    transform: translateY(-5px) ;

    transition: all 0.4s ;
}

.btn-publicar-area {
    display: grid;
    margin-top: 40px;
}

@media (max-width: 650px) {

    .novaPublicacao {
        margin: 10px 10px 0px 10px;
    }

    .instrucao-tipo-btn {
        width: 100%;
        text-align: center;
        margin: 10px 10px 0px 10px;
        padding-bottom: 10px;
    }

    .button-group {
        display: flex;
        justify-content: space-around;
        padding: 0px 20px;
        margin-bottom: 20px;
    }


    form {
        margin: 10px;
        display: block;
        grid-template-columns: 1fr;
       
    }



    .form-grupo-1 input {
        background-color:rgba(172, 218, 191, 0.4784);
        border-radius: 5px;
        border: none;
        width: 100%;
        height: 30px;
        margin-bottom: 10px;

    }

    .form-grupo-1 input:hover{
        border: 1px solid #1B6F57;
    }

    .form-grupo-1 textarea{
        background-color: rgba(172, 218, 191, 0.4784);
        border-radius: 5px;
        border: none;
        resize: none; 
        width: 100%; 
        min-height: 100px; 
        max-height: 500px;
        height: fit-content;
        overflow-y: auto;
        max-height: 100px;
        margin-bottom: 10px;


    }


    

    #picture__input {
        display: none;
     
    
      }
      
      .picture {
        width: 100%;
        aspect-ratio: 16/9;
        background:rgba(172, 218, 191, 0.4784);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #105654;
        border: 2px dashed currentcolor;
        cursor: pointer;
        font-family: sans-serif;
        transition: color 300ms ease-in-out, background 300ms ease-in-out;
        outline: none;
        overflow: hidden;
        border-radius: 10px;
        margin: 10px 0px;
      }
      
      .picture:hover {
        color: #1B6F57;
        background: rgba(125, 160, 139, 0.478);
      }
      
      .picture:active {
        border-color: #1B6F57;
        color: #1B6F57;
        background: #eee;
      }
      
      .picture:focus {
        color: #1B6F57;
        background: rgba(154, 195, 171, 0.478);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
      
      .picture__img {
        max-width: 100%;
      }

      .btn-publicar{
        background-color: #1B6F57;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
       
      }


   }