* {

    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

.conteudo {
    margin: 0px 100px 0px 100px;
}

h1 {
    font-family: "Montserrat";
    margin: 20px 0px;
}

.fora {
    margin: 0px;
    font-family: "Josefin Sans";
}

.blocos {
    
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 150px;
    margin-top: 20px;

}



.pedido {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
    max-height: 300px;
    padding: 10px;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
    border: #91a79a7a 2px solid;
    

}

.pedido:hover {
    border: #25382d7a 2px solid;
    cursor: pointer;
    transform: translateY(-5px);
   
}

.pedido p{
    color: black;
    margin: 15px;
    font-family: "Josefin Sans";
}

.pedido h2 {
    margin: 10px 0px 0px 5px;
    font-family: "Josefin Sans";
    font-size: 18px;

}

.pedido h2:hover{
    text-decoration: underline;
}

.pedido img {
    border-radius: 50%;
    width: 30px;
    height: auto;
    margin: 10px;

}

.info {
    display: grid;
    grid-template-columns: 1fr 6fr;
}