
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url(cores.css);

.botao-de-voltar{
  width: 100%;
  background-color: var(--cor-btn-voltar-section);
  height: 40px;
  display: flex;
  align-items: center;
  
}

.btn-voltar{
  border-radius: 50%;
  border: 1px solid var(--cor-btn-voltar-borda);
  width: 30px;
  height: 30px;
  background-color: var(--cor-btn-voltar);
  color: var(--cor-btn-voltar-seta);
  margin: 0px 0px 0px 60px;
  font-size: 17px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-voltar:hover {
  background-color: var(--cor-btn-voltar-hover);
  cursor: pointer;
  
}

.lado-botao {
  margin: 0px 10px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 15px;
  color: var( --cor-btn-voltar-texto);
}


body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.p-t-c, .redes-sociais-icons, .quan-p-t-c{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

}


.publicacao-perfil {
  border-radius: 5px;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

a {
  text-decoration: none;
}

#dados-principais-perfil{
  color: var(--text-color);
}

#banner-perfil {
height: 10vw;
width: 100%;
}


.base_cabecalho {
  margin-bottom: 50px;
 
}

.publi {
  padding: 0px 10px;
}


.base_cabecalho header {
  width: 100%;
  background: url(../imagens/bg.png) no-repeat 50% 20% / cover;  
  min-height: calc(10px + 8vw);
}

.base_cabecalho .coluna_contaneir .coluna-esquerda {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}

.base_cabecalho .coluna_contaneir .coluna-esquerda .img__container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translatex(-50%);
  color: var(--text-color);
}
.base_cabecalho .coluna_contaneir .coluna-esquerda .img__container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.base_cabecalho .coluna_contaneir .coluna-esquerda .img__container span {
  position: absolute;
  background: #2afa6a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 3px;
  right: 11px;
  border: 2px solid #fff;
  
}
.base_cabecalho .coluna_contaneir .coluna-esquerda h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}
.base_cabecalho .coluna_contaneir .coluna-esquerda p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}
.base_cabecalho .coluna_contaneir .coluna-esquerda .quan-p-t-c {
  justify-content: space-between;
  position: relative;
  margin: 35px 0;
}
.base_cabecalho .coluna_contaneir .coluna-esquerda .quan-p-t-c li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 0.9rem;
}
.base_cabecalho .coluna_contaneir .coluna-esquerda .quan-p-t-c li span {
  color: var(--text-color);
  font-weight: 600;
}
.base_cabecalho .coluna_contaneir .coluna-esquerda .quan-p-t-c:after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: #cccccc;
  height: 1.5px;
  width: 100%;
}
.base_cabecalho .coluna_contaneir .sobre p {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.8em;
}
.base_cabecalho .coluna_contaneir .quan-p-t-c ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.base_cabecalho .coluna_contaneir .quan-p-t-c ul li {

  display: flex;
}
.base_cabecalho .coluna_contaneir .quan-p-t-c ul i {
  font-size: 1.3rem;
}
.base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita {
  /* display: flex; */
  align-items: center;
  /* padding: 30px 0; */
  /* justify-content: space-between; */
  flex-direction: column;
}
.base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita ul {
  display: flex;
  gap: 20px;
  /* flex-direction: column; */
}
.base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita ul li a {
  text-transform: uppercase;
  color: #818181;
}
.base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita ul li:nth-child(1) a {
  color: var(--text-color);
  font-weight: 600;
}
.base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita button {
  background: #0091ff;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  
}
.base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita button:hover {
  opacity: 0.8;
}
.base_cabecalho .coluna_contaneir .coluna-direta .publi {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 40px 20px;
}

.base_cabecalho .coluna_contaneir .coluna-direta .publi img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

span {
  color: var(--text-color);
}

 

.embaixo {
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 30px;
}

input[type='file'] {
  display: none;
}

.redes-sociais-icons{
  margin: 15px 0px 0px 0px;
  padding: 10px 0px;
  border-top: 1.5px solid #cccccc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color:  #8b8b8b;
  font-size: 20px;
 
}

.redes-sociais-icons li {
  transition: all .3s;
}

.fa-pinterest:hover {
  color: #E60023;
}

.fa-facebook:hover {
  color: #4267B2;
}


.fa-linkedin:hover {
  color:#0A66C2;
}


.fa-twitter:hover {
  color: #1DA1F2;
}


.redes-sociais-icons li:hover {

  transform: translateY(-3px);
  cursor: pointer;
}



.like-button{
  background-color: transparent;
  border: 0px;
  font-size: 110%;
  transition: all 0.2s;
  color: var(--text-color);
}

.like-button:hover{
  font-size: 115%;
  transform: translateY(-3px) ;
 

 
}

.like-button.liked{
  color: red;
}

.nome-btn-like {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Responsiveness */






@media (max-width:1000px){
  .coluna-da-direita {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "btn-conversar "
                          "outro";
                          margin: 0px auto;
                          width: 100%;

    
  }

  .publi{
    margin: 0px 70px;
  }

    .button-holder{
      margin: auto;
    }
  


  .p-t-c {
    grid-area: outro;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10px;
  }

  #irparachat{
    grid-area: btn-conversar;
  
    margin: 0 auto 20px auto;
  }
}


@media (min-width: 1000px) {
  .base_cabecalho .coluna_contaneir {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .base_cabecalho .coluna_contaneir .coluna-esquerda {
    padding: 25px 0px;
  }
  .base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita ul {
    flex-direction: row;
    gap: 30px;
  }
  .base_cabecalho .coluna_contaneir .coluna-direta .publi {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }

  .base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita {
    display: flex; 
    align-items: center;
    padding: 30px 0;
    justify-content: space-between; 
    flex-direction: row;
  
  }

}

@media (min-width: 1017px) {
  .base_cabecalho .coluna_contaneir .coluna-esquerda {
    margin: 0;
    margin-right: auto;
  }
  .base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita {
    flex-direction: row;
  }
  .base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita button {
    margin-top: 0;
  }
  .base_cabecalho .coluna_contaneir .coluna-direta .coluna-da-direita {
    display: flex; 
    align-items: center;
    padding: 30px 0;
    justify-content: space-between; 
    flex-direction: row;
  
  }


}
#irparachat {
  position: relative;
  cursor: pointer;
  font-family: sans-serif;
  background-color: var(--cor-btn-azul); 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
}

#irparachat:hover{
  opacity: 100%;
}

#irparachat .tooltip {
  visibility: hidden;
  width: 220px; 
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  bottom: 130%; 
  left: 50%;
  transform: translateX(-50%);

  transition: opacity 0.3s;
  font-size: 14px;
  z-index: 1;
  pointer-events: none; 
}

#irparachat .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

#irparachat:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

#irparachat a {
  color: #fff;
}

/* novas alterações */



 .foto-de-perfil {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#secao-avaliacoes-h2 {
    font-size: 18px;
    margin: 0px 60px 15px 70px;
    color: var(--text-color);
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}


#secao-avaliacoes {
   
    margin: 0px 60px 40px 60px;
    
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}

.avaliacao {
    min-width: 25%;
    box-sizing: border-box;
    background-color: var(--cor-fundo-comentario);
    color: var(--text-color);
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-family: "Josefin Sans";
    height: fit-content;
}

.info-criador-ava {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.nome-criador-ava {
    margin-left: 10px;
    color: var(--text-color);
}

.estrelinhas-avaliacao {
    color:  rgb(255, 208, 0);
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:  rgba(37, 39, 47, 0.642);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    font-size: 18px;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    background-color:  rgba(37, 39, 47, 0.697);
}

.carousel-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70px; 
    height: 100%;
    background: var(--gradiente-carrossel-perfil);
    pointer-events: none; 
}








@media (max-width: 800px) {

  #banner-perfil {
    height: 18vw;
    width: 100%;
    }

    .avaliacao {
      min-width: 50%;
     
    }

    .button-holder{
      margin: auto;
    }
  

 
}


@media (max-width:500px){



  .publi{
    margin: 0px 5%;
  }

    
  #secao-avaliacoes-h2 {
    font-size: 18px;
    margin: 0px 5% 15px 5%;
    padding: 0px 0px 0px 10px;
  }


  #secao-avaliacoes {
    
    margin: 0px 5%;
    
  }


  .avaliacao {
    min-width: 95%;
   
  }


}


