
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url(cores.css);

.botao-de-voltar{
  width: 100%;
  background-color: var(--cor-btn-voltar-section);
  height: 40px;
  display: flex;
  align-items: center;
  
}

.btn-voltar{
  border-radius: 50%;
  border: 1px solid var(--cor-btn-voltar-borda);
  width: 30px;
  height: 30px;
  background-color: var(--cor-btn-voltar);
  color: var(--cor-btn-voltar-seta);
  margin: 0px 0px 0px 60px;
  font-size: 17px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-voltar:hover {
  background-color: var(--cor-btn-voltar-hover);
  cursor: pointer;
  
}

.lado-botao {
  margin: 0px 10px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 15px;
  color: var( --cor-btn-voltar-texto);
}


body {
  width: 100%;
  margin: 0;
  padding: 0;
 
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}


.nome-desc{
    margin: 30px 50px;
    color: var(--text-color);
}







.container-conteudo {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
    margin: 30px 40px;
    color: var(--text-color);

}


  .foto-perfil-explorar {
    width: 10%;
    height: 10%;
    border-radius: 50%;
   
}

    
.item-explorar{
    height: auto;
    /* min-width: 270px; */
    border-radius: 7px;
} 

.publicacao-img{
    width: 100%;
    border-radius: 7px;
    object-fit: cover;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
    aspect-ratio: 4/3;
   
}

.publicacao-img:hover {
    filter: brightness(50%);
    transition: all 0.2s;
}

.nome-e-btn-like{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.foto-nome-dono-publi{
    width: 100%;
    display: flex;
    align-items: center;
}

.nome-dono-post-ex a{
    font-family: "Josefin Sans";
    color: var(--text-color);
    margin-left: 10px;
}

.descricao-item-explorar {
    font-family: "Josefin Sans";
    font-size: 12px;

}


.like-button{
    background-color: transparent;
    border: 0px;
    font-size: 110%;
    transition: all 0.2s;
    color: var(--text-color);
}

.like-button:hover{
    font-size: 115%;
    transform: translateY(-3px) ;
   

   
}

.like-button.liked{
    color: red;
}
 

/* 
responsividade */




@media (max-width:1000px){

    .container-conteudo {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 50px;
        margin: 30px 25px;

    }

}


  
  @media (max-width: 670px) {

    .container-conteudo {

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 50px;
        margin: 30px 25px;

    }

    .item-explorar{
        min-width: none;
      
    } 

  }


  @media (max-width:500px) {

    .btn-voltar{

        margin: 0px 0px 0px 25px;
       
      }

    .nome-desc{
        margin: 30px 25px;
        color: var(--text-color);
    }



    .container-conteudo {

        display: block;
        margin: 30px 25px;

    }

    .foto-perfil-explorar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

        
    .item-explorar{
        margin-bottom: 50px;
        height: auto;
        min-width: 300px;
        border-radius: 7px;
    } 

    .publicacao-img{
        width: 100%;
        height: 250px;
        border-radius: 7px;
        object-fit: cover;
        box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
    }

    .nome-e-btn-like{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
    }

    .foto-nome-dono-publi{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .nome-dono-post-ex a{
        font-family: "Josefin Sans";
        color: var(--text-color);
        margin-left: 10px;
    }

    .descricao-item-explorar {
        font-family: "Josefin Sans";

    }

    .like-button{

        font-size: 130%;
    }



  }
  

