@import url(cores.css);

* {
    margin: 0;
    padding: 0;
}
 
body {
    font-family: "Josefin Sans";

}


.botao-de-voltar{
    width: 100%;
    background-color:  rgba(224, 236, 240, 0.37);
    height: 40px;
    display: flex;
    align-items: center;
    
}

.btn-voltar{
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #acdabf7a;
    color: #165040;
    margin: 0px 0px 0px 60px;
    font-size: 17px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-voltar:hover {
    background-color: #648b747a;
    cursor: pointer;
}

.lado-botao {
    margin: 0px 10px;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 15px;
    color: #474747;
}


.conteudo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "publicacao-texto p-rel";
    gap: 10%;
    margin-bottom: 50px;
}




.containerp {
    margin-left: 70px;
    padding: 20px;
    max-width: 800px;
    

}
  


.projeto {
   
    margin-right: 20px;
}


.perfil {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    color: var(--text-color);
}
 
.foto-nome {
    display: flex;
    align-items: center;
}

.foto-nome p, .foto-nome a {
    color: var(--text-color);
 

}
.perfil img, .prop-rel-info img {
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}


.conversar {
    background-color: var(--cor-botao);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Montserrat";
 
}

.textopedido {
    font-size: large;
}



.outras-propostas {
    display: block;
    padding: 20px;

}


.outras-propostas h2, .titulo-maior {
    margin-bottom: 10px;
    font-size: 20px;
    color: #132d46;
    font-family: "Montserrat";
   
}
 
.propostas {
    background-color:  #acdabf7a;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 300px;
}

.propostas h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #132d46;
}

.prop-rel-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.prop-rel-info p {
    color: var(--text-color);
    margin-left: 10px;
}



@media (max-width: 800px){



    .btn-voltar{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #acdabf7a;
        margin: 0px 0px 0px 35px;
    }

    .lado-botao {
        margin: 0px 10px;
    }


    

    
.conteudo {
    display: block;
}

.containerp {
    display: block;
    padding: 20px;
    margin: 0px;

}
 

.projeto {
  
   width: 100%;
}
 
.perfil {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    color: var(--text-color);
}
 
.foto-nome {
    display: flex;
    align-items: center;
}

.foto-nome p, .foto-nome a {
    color: var(--text-color);
 

}
.perfil img {
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

 
.propostas {
  
    max-width: none;
}

.outras-p-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


    }

    @media (max-width: 500px){


        .outras-p-container{
            display: block;
          
        }

        .propostas {
          
            max-width: none;
        }
    }






