.botao-de-voltar{
    width: 100%;
    background-color:  rgba(224, 236, 240, 0.37);
    height: 40px;
    display: flex;
    align-items: center;
    
}

.btn-voltar{
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #acdabf7a;
    margin: 0px 0px 0px 60px;
}

.lado-botao {
    margin: 0px 10px;
}


.container-pag-publi {
    display: grid;
    grid-template-areas: 
    
        "principal principal comentarios"
        "publicacoes-rela publicacoes-rela publicacoes-rela";
        margin: 10px 40px;
}

.principal-pag-publi {
    grid-area: principal;
    width: 90%;
    /* min-width: 500px; */

}


.publi-info {
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

.foto-de-perfil{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

.nome-dono-post {
    font-family: "Josefin Sans";
    color: black;
    margin: 10px;
}


.container-img {
    width: 100%;
    margin: 10px 20px;
  
 
}

#img-principal {
    width: 80%;
    height: auto;
    border-radius: 5px;

}

.descricao-like {
    margin: 10px 20px;
    width: 90%;
}

.nome-like{
    width: 90%;
    display: flex;
    justify-content: space-between;
}


.descricao-publi-prin {
    margin: 10px 0px;
    width: 90%;
}


.comentarios {
    width: 90%;
    margin: 20px;

}

.adiionar-comentario {
    width: 100%;
}

#ad-comentario {
    width:100%;


}

.button-container-submit {
    width: 90%;
    justify-content: flex-end;
    display: flex;
  
}

.button-container-submit input {
    margin-right: auto;
}


.comentario {
    width: 95%;
    background-color: #acdabf7a;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;
    font-family: "Josefin Sans";
    
}

.comentario-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comentario-info p {
    color: black;
    margin-left: 10px;
}

.comentario p {
    font-size: 15px;
}


#ad-comentario {
    width: 95%;
    border-radius: 5px;
    border: #165040 solid 1px;
    padding: 10px;
    resize: vertical;
    max-height: 300px; 
    font-family: "Josefin Sans";
    margin-top: 10px;
}

#ad-comentario:focus {
    border: #165040 solid 2px;
}


.button-container-submit {
   width: 100%;
   align-items: right;

}

.enviar-comentario{
    background-color: #132d46;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 8px 10px;
    font-family: "Josefin Sans";
    cursor: pointer;
    right: 0px;
    display: block;
}


.publi-relacionadas{
    margin: 20px;
    width: 100%;
    grid-area: publicacoes-rela;
  
}

.publicacoes-rel-caixas {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.publi-re {
    margin: 10px 0px;
}

.publi-re img{
   width: 90%;
   border-radius: 5px;
   aspect-ratio: 4/3; /* VER SE VAI DEIXAR AS IMAGENS NESSE FORMATO MESMO */
}

.publi-rel-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
   
}

.foto-nome-p-rel {
    display: flex;
    align-items: center;
   
}

.foto-nome-p-rel p {
    color: #000000;
    margin-left: 10px;
}

.publi-rel-info img{
    width: 30px;
    height: 30px;
    border-radius: 50% 
    
}


.publi-rel-info button {
   justify-self: flex-end;
}



.like-button{
    background-color: transparent;
    font-size: 20px;
    border: none;
    

    }
    
    .like-button:hover{
        content: 'Curtir';
    }





 @media (max-width:890px){


        .principal-pag-publi {
            grid-area: principal;
            width: 110%;
            /* min-width: 500px; */
    
        }
    
        
        .comentarios {
            width: 90%;
            margin: 20px;
    
        }

                
        .publi-relacionadas{
            margin: 20px;
            width: 100%;
            grid-area: publicacoes-rela;
        
        }

        .publicacoes-rel-caixas {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .publi-re {
            margin: 10px 0px;
        }

        .publi-re img{
        width: 90%;
        border-radius: 5px;
        }

        .publi-rel-info {
            display: flex;
            justify-content: space-between;
            width: 90%;
        
        }

        
        .publi-rel-info img{
            width: 30px;
            height: 30px;
            border-radius: 50% 
            
        }


    
    }
    


@media (max-width: 600px) {

    .botao-de-voltar{
        width: 100%;
        background-color:  rgba(224, 236, 240, 0.37);
        height: 40px;
        display: flex;
        
    }

    .btn-voltar{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #acdabf7a;
        margin: 0px 0px 0px 35px;
    }

    .lado-botao {
        margin: 0px 10px;
    }

    .container-pag-publi {
        display: block;
        margin: 0px 10px;
    }

    
    .principal-pag-publi {
        width: 90%;

    }

    .publi-info {
        display: flex;
        align-items: center;
        margin: 20px;
    }

    .foto-de-perfil{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .nome-dono-post {
        font-family: "Josefin Sans";
        color: black;
        margin: 10px;
    }

    .container-img {
        width: 100%;
        margin: 10px 20px;
      
     
    }

    #img-principal {
        width: 100%;
        height: auto;
        border-radius: 5px;
  
    }

    .descricao-like {
        margin: 10px 20px;
        width: 100%;
    }

    .nome-like{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

   
    .descricao-publi-prin {
        margin: 10px 0px;
        width: 100%;
    }


    .comentarios {
        width: 90%;
        margin: 20px;

    }

    .adiionar-comentario {
        width: 100%;
    }

    #ad-comentario {
        width: 95%;


    }

    .button-container-submit {
        width: 90%;
        justify-content: flex-end;
        display: flex;
      
    }

    .button-container-submit input {

        margin-right: auto;
    
    } /*arrumar botao para ele ficar a direita */


    .adicionar-comentario {
        margin-bottom: 30px;
    }

    .comentario {
        width: 95%;
        background-color: #acdabf7a;
        margin: 10px 0px;
        border-radius: 5px;
        padding: 10px;
        font-family: "Josefin Sans";
        
    }

    .comentario-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .comentario-info p {
        color: black;
        margin-left: 10px;
    }

    .comentario p {
        font-size: 15px;
    }

    .publi-relacionadas{
        margin: 20px;
        width: 100%;
       
    }

    .publicacoes-rel-caixas {
        width: 100%;
        display: block;
    }

    .publi-re {
        margin: 10px 0px 20px 0px;
    }

    .publi-re img{
       width: 90%;
       border-radius: 5px;
 
    }

    .publi-rel-info {
        display: flex;
        justify-content: space-between;
        width: 90%;
       
    }

    .foto-nome-p-rel {
        display: flex;
        align-items: center;
    }

    .foto-nome-p-rel p {
        color: #000000;
        margin-left: 10px;
    }

    .publi-rel-info img{
        width: 30px;
        height: 30px;
        border-radius: 50% 
    }


    .publi-rel-info button {
       justify-self: flex-end;
    }


}
