* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.botao-de-voltar{
    width: 100%;
    background-color: var(--cor-btn-voltar-section);
    height: 40px;
    display: flex;
    align-items: center;
    
}

.btn-voltar{
    border-radius: 50%;
    border: 1px solid var(--cor-btn-voltar-borda);
    width: 30px;
    height: 30px;
    background-color: var(--cor-btn-voltar);
    color: var(--cor-btn-voltar-seta);
    margin: 0px 0px 0px 60px;
    font-size: 17px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-voltar:hover {
    background-color: var(--cor-btn-voltar-hover);
    cursor: pointer;
    
}

.lado-botao {
    margin: 0px 10px;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 15px;
    color: var( --cor-btn-voltar-texto);
}


.container-pag-publi {
    display: grid;
    grid-template-areas: 
    
        "principal principal comentarios"
        "publicacoes-rela publicacoes-rela publicacoes-rela";
        margin: 10px 40px;
}

.principal-pag-publi {
    grid-area: principal;
    width: 90%;
    /* min-width: 500px; */
    

}


.publi-info {
    display: flex;
    align-items: center;
    /* margin: 10px 20px; */
    color: var(--text-color);
}

.foto-de-perfil{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

.nome-dono-post {
    font-family: "Josefin Sans";
    color: var(--text-color);
    margin: 10px;
}



/* 
#img-principal {
    width: 80%;
    height: auto;
    border-radius: 5px;

} */

.descricao-like {
    margin: 10px 20px;
    width: 90%;
    font-family: "Josefin Sans";
    color: var(--text-color);
   
}

.nome-like{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding-right: 10px;
}


.descricao-publi-prin {
    margin: 10px 0px;
    width: 90%;
    font-family: "Josefin Sans";
}


.comentarios {
    width: 100%;
    
    font-family: "Josefin Sans";
    color: var(--text-color);

}

.comentario-info-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}



#comentarios-nome-secao {
    font-family: "Montserrat";
    color: var(--text-color);
}

.adiionar-comentario {
    width: 100%;
}

#ad-comentario {
    width:100%;


}

.button-container-submit {
    width: 90%;
    justify-content: flex-end;
    display: flex;
  
}

.button-container-submit input {
    margin-right: auto;
}


.comentario {
    width: 100%;
    background-color: var(--cor-fundo-comentario);
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;
    font-family: "Josefin Sans";
    
}

.comentario-info {
    display: flex;
    align-items: center;
  
}

.comentario-info p {
    color: var(--text-color);
    margin-left: 10px;
}
.comentario p {
  font-size: 15px;
  word-wrap: break-word;  
  overflow-wrap: break-word; 
  white-space: normal;  
}

#ad-comentario {
    width: 95%;
    border-radius: 5px;
    border: var(--texto-barra-pesquisa) solid 1px;
    background-color: transparent;
    padding: 10px;
    resize: vertical;
    max-height: 300px; 
    font-family: "Josefin Sans";
    margin-top: 10px;
}

#ad-comentario:focus {
    border: #165040 solid 2px;
}


.button-container-submit {
   width: 100%;
   align-items: right;

}

.enviar-comentario{
    background-color: var(--cor-btn-env-comentario);
    border-radius: 8px;
    border: none;
    color: white;
    padding: 8px 10px;
    font-family: "Josefin Sans";
    cursor: pointer;
    right: 0px;
    display: block;
}


.publi-relacionadas{
    margin: 20px;
    width: 100%;
    grid-area: publicacoes-rela;
  
}

#publi-rel-nome-secao{
    font-family: "Montserrat";
    color: var(--text-color);
}

.publicacoes-rel-caixas {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.publi-re {
    margin: 10px 0px;
    font-family: "Josefin Sans";

}

.publi-re img{
   width: 90%;
   border-radius: 5px;
   aspect-ratio: 4/3; /* VER SE VAI DEIXAR AS IMAGENS NESSE FORMATO MESMO */
   box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
  
}

.publi-rel-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
   
}

.foto-nome-p-rel {
    display: flex;
    align-items: center;
   
}

.foto-nome-p-rel p {
    color: var(--text-color);
    margin-left: 10px;
}

.publi-rel-info img{
    width: 30px;
    height: 30px;
    border-radius: 50% 
    
}


.publi-rel-info button {
   justify-self: flex-end;
}



.like-button{
    background-color: transparent;
    font-size: 20px;
    border: none;
    color: var(--text-color);
    

    }
    
    .like-button:hover{
        content: 'Curtir';
    }

    .like-button.liked{
        color: #7490C9;
    }
     



.con-img-expandida {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    opacity: 0;
    transition: opacity 0.3s ease;
}

.con-img-expandida.show {
    display: block;
    opacity: 1;
}

#imgExpandida {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    margin-top: 5%;
    transition: transform 0.3s ease, transform-origin 0.3s ease;
    cursor: zoom-in; 
}

.fechar {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.fechar:hover, .fechar:focus {
    color: #999;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  padding: 0 10px;
  z-index: 10;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}





.button-container-submit {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-items: right;
    width: 100%;
}

.enviar-comentario {
    cursor: pointer;
    background-color: var(--cor-btn-azul); 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    width: 25%;
    margin-left: 75%;
    font-family: "Josefin Sans";
   
}

.button-container-submit .tooltip {
    visibility: hidden;
    width: 220px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    top: -50px;
    left: 10%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    z-index: 1;
    pointer-events: none; 
}

.button-container-submit .tooltip::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 10%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.button-container-submit:hover .tooltip {
    visibility: visible;
    opacity: 1;
}





.carrossel-imagens-explorar {
  position: relative;
  width: 80%;
  overflow: hidden;
  border-radius: 12px;
  margin: 10px 20px;

}

.container-imgs {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.container-imgs:hover img{
    filter: brightness(50%);
    transition: all 0.2s;
    cursor: zoom-in;
}



.publicacao-img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.seta-carrossel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  font-size: 24px;
  border-radius: 50%;
 display: none ; /* por padrão, escondidas */
}

.seta-carrossel.inativa {
  visibility: hidden; /* ainda ocupa espaço pra não quebrar layout */
  pointer-events: none;
  opacity: 0.2;
}

.seta-carrossel.esquerda { left: 10px; }
.seta-carrossel.direita { right: 10px; }

.carrossel-imagens-explorar:hover .seta-carrossel {
  display: block;
}

.indicadores {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
  z-index: 2;
  display: none;
}

.indicador {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
}

.indicador.ativo {
  background: white;
}

.carrossel-imagens-explorar:hover .indicadores {
  display: flex;
}

.aviso-zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  font-size: 18px;
  z-index: 3;
  opacity: 0;
  pointer-events: none !important;
  display: flex;
  transition: opacity 0.3s ease;
}

.carrossel-imagens-explorar:hover .aviso-zoom {
  opacity: 0.8;
  pointer-events: auto;
}

.aviso-zoom:hover .container-imgs img{
    filter: brightness(50%); filter: brightness(50%);
    transition: all 0.2s;
}


 @media(max-width:890px){


    #imgExpandida {
   
    margin-top: 20%;

}


        .principal-pag-publi {
            grid-area: principal;
            width: 110%;
            /* min-width: 500px; */
    
        }
    
        
        .comentarios {
            width: 100%;
            margin: 20px 0;
    
        }

        .enviar-comentario {
            
            width: 40%;
            margin-left: 60%;
           
        }

                
        .publi-relacionadas{
            margin: 20px;
            width: 100%;
            grid-area: publicacoes-rela;
        
        }

        .publicacoes-rel-caixas {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .publi-re {
            margin: 10px 0px;
        }

        .publi-re img{
        width: 90%;
        border-radius: 5px;
        }

        .publi-rel-info {
            display: flex;
            justify-content: space-between;
            width: 90%;
        
        }

        
        .publi-rel-info img{
            width: 30px;
            height: 30px;
            border-radius: 50% 
            
        }




    
    }
    


@media(max-width: 650px) {


    

.carrossel-imagens-explorar {
 
  width: 90%;
 
}



    .botao-de-voltar{
        width: 100%;
        height: 40px;
        display: flex;
        
    }

    
#imgExpandida {
   
    margin-top: 20%;

}

    .btn-voltar{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 0px 0px 0px 35px;
    }

    .lado-botao {
        margin: 0px 10px;
    }

    .container-pag-publi {
        display: block;
        margin: 0px 10px;
    }

    
    .principal-pag-publi {
        width: 100%;

    }

    .publi-info {
        display: flex;
        align-items: center;
        /* margin: 20px; */
    }

    .foto-de-perfil{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .nome-dono-post {
        font-family: "Josefin Sans";
        margin: 10px;
    }

    .container-img {
        width: 100%;
        margin: 10px 20px;
      
     
    }

    /* #img-principal {
        width: 90%;
        height: auto;
        border-radius: 5px;
  
    } */

    .container-imgs img {
         width: 100%;
        height: auto;
        border-radius: 5px;
  

    }

    .descricao-like {
        margin: 10px 20px;
        width: 90%;
    }

    .nome-like{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

   
    .descricao-publi-prin {
        margin: 10px 0px;
        width: 100%;
    }


    .comentarios {
        width: 100%;
        margin: 20px 0;

    }

    .adicionar-comentario {
        width: 100%;
    }

    #ad-comentario {
        width: 95%;


    }

    .button-container-submit {
      
        justify-content: flex-end;
        display: flex;
      
    }

    .button-container-submit input {

        margin-right: auto;
    
    } /*arrumar botao para ele ficar a direita */


    .adicionar-comentario {
        margin-bottom: 30px;
    }

    .comentario {
        width: 100%;
        margin: 10px 0px;
        border-radius: 5px;
        padding: 10px;
        font-family: "Josefin Sans";
        
    }

 

    

    .comentario p {
        font-size: 15px;
    }

    .publi-relacionadas{
        margin: 20px;
        width: 100%;
       
    }

    .publicacoes-rel-caixas {
        width: 100%;
        display: block;
    }

    .publi-re {
        margin: 10px 0px 20px 0px;
    }

    .publi-re img{
       width: 90%;
       border-radius: 5px;
 
    }

    .publi-rel-info {
        display: flex;
        justify-content: space-between;
        width: 90%;
       
    }

    .foto-nome-p-rel {
        display: flex;
        align-items: center;
    }

    .foto-nome-p-rel p {
        margin-left: 10px;
    }

    .publi-rel-info img{
        width: 30px;
        height: 30px;
        border-radius: 50% 
    }


    .publi-rel-info button {
       justify-self: flex-end;
    }

    
.button-container-submit .tooltip {
  
    left: 50%;
   
}



.publi-person-button{
    
    width: 90% !important;
    
}



}




@media screen and (min-width: 450px) and (max-width: 650px){

    
    .publicacoes-rel-caixas {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}








.publi-person-button{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 80% ;
     margin: 10px 20px;
}




















.menu-opcoes {
    display: block !important;

    position: inherit !important;
}



.icone-menu {
    fill: var(--text-color) !important;
    transform: translateX(10px) !important;
   
}

.icone-menu svg{
    fill: var(--text-color) !important;
}
.opcoes-menu {
    
    position: absolute !important;
    transform: translateX(-90px) !important;
    min-width: 130px !important;
}
