body{
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background: url(imagens/fundo.jfif);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  
 
}
.esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
   
   
}

.logo {
    width: 100px;
    height: auto;
}

.titulo {
    font-family: "Montserrat";
    font-weight: 300;
    color: #132d46;
}

.texto {
    font-family: "Josefin Sans";
    font-size: 20px;
}

.direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-self: center;
    align-items: center;
   
}
.card-button{
    width: 60%;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 30px 35px;
    border-radius: 20px;

    flex-direction: column;
}
.cadastro{

    font-weight: 700;
    font-size: x-large;
 
}
.artista, .comum{
    width: 45%;
    padding: 16px;
    margin: 25px;
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: 800;
    background: #132d46;
    color: #fff;
    font-family: "Josefin Sans";
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 3px;
}
.caixa{
    
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border: 2px solid #132d46;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;

  
}
h1{
    font-size: 50px;
    margin: 0;

}
 