@import url(menu.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

:root {
    --primery-color: #01c38d;
    --secondary-color: #646464;
}

#servico-secao {
    min-height: 740px;
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.meio {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 0;
    
    font-family: "Josefin Sans";
}

.container-quemsomos {
    align-items: center;
    justify-content: center;
    flex-direction: column
}

#servico-secao h2 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
}

#servico-secao #paragrafo {
    width: 40%;
    font-size: 1rem;
    color: rgb(70, 131, 118);
    text-align: center;
    line-height: 1.5rem;
    white-space: 1px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    z-index: 9;
    margin-top: 20px;
}

.cards .card {
    height: 350px;
    width: 380px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 8%;
    background: #132d46;
    position: relative;
    color: white;
    border-radius: 10px;

}

.cards .card::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: #01c38d;
    transition: .6s;
    transform: rotate(0deg);
    z-index: -1;
}
.cards .card:hover.card::before {
    transform: rotate(10deg);
}

.cards .card i {
    font-size: 2.5rem;
    color: var(--primery-color);
    margin-top: 40px;
    margin-bottom: 10px;
}

.cards .card h3 {
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    
}

.cards .card .conteudo p {
    color: rgb(226, 226, 226);
    font-size: 1.05rem;
    margin-bottom: 20px;
    font-weight: 500;
}

@media(max-width:1100px) {
    #servico-secao h2 {
        margin-top: 30px;
    }
    .cards {
        grid-template-columns: repeat(1,1fr);
    }
    #servico-secao #paragrafo {
        width: 80%;
    }
}

@media(max-widht:900px) {
    .cards .card {
        height: 300px;
        width: 400px;
        margin: 20px 0;
    }
}