* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* BOTÃO DE VOLTAR */

.botao-de-voltar{
    width: 100%;
    background-color:  rgba(224, 236, 240, 0.37);
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.btn-voltar{
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #acdabf7a;
    color: #165040;
    margin: 0px 0px 0px 30px;
    font-size: 17px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-voltar:hover {
    background-color: #648b747a;
    cursor: pointer;
}


.lado-botao {

    margin: 0px 10px;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 15px;
    color: #474747;
}

/* FIM DO BOTÃO DE VOLTAR */



.conteudo-pag {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.TracoPerfeito{
    margin: 10px 10px 55px 10px;
}

h1 {
    font-family: "Montserrat";
    font-size: 28px;
    color: #000000;
    margin-bottom: 10px;
    
}
 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ADD9BD;
    margin: 5% auto;
    padding: 20px;
    /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); */
    width: 90%;
    max-width: 600px;
    height: fit-content;
}


.container {
    flex-direction: row;
    max-width: 900px;
    margin: 3% 5%;
   
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.form-container {
    flex: 2;
   
    border-radius: 15px;
    padding: 20px;
    /*box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);*/
}

.orien-escolha {
    font-family: "Josefin Sans";
}
 
.logo img {
   
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
}

.card {
    border-radius: 5px;
    border: 1.5px solid #6666662d ;

    padding: 10px;
    height: 350px;
    background: #ffffff;
    color: #000000;
    font-family: "Josefin Sans";
}

.card:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);

}


.nome-preco {
    
    border-radius: 5px;
    padding: 15px 0px;
    color: #fff ;
    font-size: 25px;
    transform: translateY(-30px);
    box-shadow: rgba(101, 101, 101, 0.35) 0px 5px 10px;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 500;
   
}

.com {
    background-color:#76AEA6;

}

.pro {
    background-color: #7193C7;

}

.nome-preco p{
    color: #ffffff;
    opacity: 80%;
    font-size: 13px;
    font-family: "Josefin Sans";
    font-weight: 400;
    text-transform: none;
  
    margin: 0;
    
}

.comum:hover {
    background-color: #72a69c3b;
}

.prof:hover {
    background-color: #a6bee05f;
}

.lista {
    width: 100%;
    height: 63%;
    text-align: left;
    padding: 0 0 0 25px;
    

}

.lista li {
    list-style-type: circle;
    margin: 10px 0px;

}

.prof ul li::marker {
    color: #7193C7;
  }
 
.comum ul li::marker {
    color: #76AEA6;
  }
 


p {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
}


.btn-comum, .btn-pro {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    bottom: 0px;
    margin: 0 10px;
    text-align: center;
    transition: all 0.3s ease;
    display: inline-block;

}

.btn-comum{
    background-color:#76AEA6;
}

  
.btn-comum:hover {
    background-color:#629089;
    transform: translateY(-3px);
}

.btn-pro {
    background-color: #7193C7;
}

.btn-pro:hover {
    background-color: #617DAA;
    transform: translateY(-3px);
}

@media (max-width: 950px) {
    .container {
        flex-direction: row;
        max-width: 900px;
       
    }
 
    .logo {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
    }
 
    .form-container {
        flex: 2;
       
        border-radius: 15px;
        padding: 20px;
        /*box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);*/
    }
}
 

 
@media (max-width: 950px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
 
    .btn {
        margin: 5px;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }

    
    .logo img {
   
        width: 100px;
        height: auto;
        margin: 0px;
        
    }
    
}


@media (max-width:650px) {

        
    .cards-container {
        display: block;
        width: 100%;
    }

        
    .card {
        margin: 0px 0px 50px 0px;
        height: 300px;
        
    }



    .lista {
    
        height: 55%;

    }


    






}





@media (max-width: 450px){
  
          
    .card {
        margin: 0px 0px 50px 0px;
        height: 40%;
        
    }

    .lista {
    
        height: 62%;
    
    

    }

    .logo img {
   
        width: 85px;
        height: auto;
        
    }
    
}