


/* Tamanho da scrollbar */
::-webkit-scrollbar {
  width: 14px;
}

/* Cor da "trilha" (fundo da scrollbar) */
::-webkit-scrollbar-track {
  background:  #132d46;
 
}

::-webkit-scrollbar-thumb {
  background-color: #94a2b5;
  border-radius: 10px;
  border: 3.2px solid #132d46; 
}

/* Quando passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color:  #7193C7;
}
