@import url(cores.css);

/* Tamanho da scrollbar */
::-webkit-scrollbar {
  width: 14px;
  border: 1px solid var(--border-scroll);
}

/* Cor da "trilha" (fundo da scrollbar) */
::-webkit-scrollbar-track {
  background:  var(--scroll-background);
 
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 10px;
  border: 3.2px solid var(--scroll-background) ;
}

/* Quando passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color:  var(--scroll-thumb-hover)
}

/*Configurações da barra de rolagem. Se quiser tirar, é só apagar tudo. */