* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}



.secaoimagens{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.container {
    width: 50%;
    border: 2px solid #000; 
    border-radius: 5px;
    padding: 30px;
    margin-top: 100px;
   
}



#img1{
    width: 70px;
    display: block;
    grid-column: 2;
    margin: auto;
   
}

#img2{
    width: 180px;
    grid-column: 2;
    margin: auto;
    margin-top: 20px;
}




.titulo {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #132D46;
    padding: 1rem;
}


.form {
    width: 50%;
   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gainsboro;
    padding: 3rem;
    border-radius: 5px;
}


.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #64FFD4;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #53d3af;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
  
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000000;
}

.input-box input:hover{
    background-color: darkgrey;
}

.input-box input:focus-visible {
    outline: 1px solid #53d3af;
}



.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #53d3af;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #53d3af;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: white;
}



.botao {
    margin: 30px 0px 100px 30px;
    display: flex;
    
}

.lado-botao {
    padding: 5px 7px;
    font-family: "Josefin Sans";
    margin: 6px 5px;

}

.btn-voltar{
    grid-area: botao;
    background-color: #132d46;
    padding: 10px;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0px;
    
    }

    
#seta{
    font-size: 20px;
    color: rgb(255, 255, 255);
   
    
}


/* 
.botao {
    padding: 10px 2220px 10px 1050px;    
    margin: 0px;
    display: flex;
    background-color: rgba(224, 236, 240, 0.37);
    align-content: first baseline;
    
}
    
.lado-botao{
    padding: 5px;
    margin: 10px 0px 5px 10px;
    font-family: "Josefin Sans";
    position: relative;
    bottom: 15%;
    
}

.btn-voltar{
 
    background-color: #132d46;
    color: White;
    font-family: "Josefin Sans";
    border-radius: 50%;
    border-color: none;
    box-shadow: none;
    margin: 20px 0px 0px 270px;
    width: 35px;
    height: 35px;
}


#seta{
    font-size: 25px;
    color: White;
} */


.botao {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.botao p {
    color: #132d46;
    font-size: 20px;
    margin: 29px 0px 0px 10px;
    font-family: "Josefin Sans";
}


/* Tentativa de responsividade*/


@media (max-width: 999px){


    .secao-form{
        min-width: 400px;
    }

    .input-group {
     
       min-width: 100%;
       padding: 0px;
       margin: auto;
       grid-template-columns: repeat(3, 1fr);
   
    }

    
    .container {
    width: 80%;
    border: 2px solid #000; 
    border-radius: 5px;
    padding: 30px;
    margin-top: 60px;
   
    }

    .title {
        text-align: center;
        padding: 0%;
        margin: 0px;

        display: block;
        width: fit-content;
   
    }

    .titulo{
        padding: 0%;
        margin: 0%;
        font-size: 20px;
    }

    .input-box {
       
      
        max-width: 300px;
     
       
    }

    
.continue-button button {
    width: 70%;
   
}


 

 
}


@media (max-width: 500px) {

    
    .container {
        width: 80%;
        border: none;
        padding: 30px;
        margin-top: 150px;
        margin: auto;
       
        }

    .input-group {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);

    }

    .input-box {
       

            width: 100%;
         
           
    }

            
    .continue-button button {
              width: 75%;
   
    }

     
}




/* Validações */
.erro-form {
    
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding-left: 5px;
    background-color: lightpink
}


.msg-erro{
    margin-left: 6.5%;
    color: firebrick;
}