<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Administrador</title>
  <link rel="stylesheet" href="../css/login-adm.css">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  
</head>
<body><main>
    
      
      <div class="login-container">
        <img src="imagens/logo.png" id="logo">
        <h1>Área Administrativa</h1>

        <form action="/adm/adm-login" method="POST" class="login-form">
          <div class="form-group">
            <label for="email">Usuário (Email):</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email" required>
          </div>
          <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
          </div>
          <button type="submit" class="btn-login">ENTRAR</button>
        </form>
      </div>
</main>
</body>
</html>
