<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/pag-adm.css">
    <title>Página do Administrador</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 

   
</head>
<body>
    
  <%- include('../partials/menu-adm'); %>

    <main class="content">
        <h1>Bem-vindo(a) ao Painel Administrativo, [Nome do Usuário]!</h1>
        <p>Clique em um dos links do menu ao lado para começar.</p>

        <section class="cards">
            <section class="card">
              <h3>Total de Usuários</h3>
              <p>245</p>
            </section>
            <section class="card">
              <h3>Usuários Premium</h3>
              <p>57</p>
            </section>
            <section class="card">
              <h3>Mensagens pendentes</h3>
              <p>6</p>
            </section>
            <section class="card">
              <h3>Denúncias pendentes</h3>
              <p>3</p>
            </section>
          </section>


    </main>
  
  
    
</body>
</html>