<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>avaliações</title>
    <link rel="stylesheet" href="css/avaliacoes.css">
    <link rel="stylesheet" href="css/menu.css">
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="menu" id="menu">
 
 
       <img src="logo.png" id="logo"><a href="#" class="logo" ></a></img>
       <img src="traço perfeito.png" id="traco" alt="Traço Perfeito">
 
        <ul>
            <li><p><a href="#" class="pri">EXPLORAR</a></p></li>
            <li><p><a href=/contratar class="ter">CONTRATAR</a></p></li>
            <li><p><a href=/quemsomos class="qua">QUEM SOMOS</a></p></li>
            <li><p><a href=/cadastro class="direita02">CADASTRAR-SE</p></a></li>
            <li><p><a href=/login class="direita01">ENTRAR</a></p></li>
        </ul>
       
    </nav>
</header>
<script src="js/voltar.js"></script>
<section class="botao">
    <button class="btn-voltar" onclick="voltarPagina()"> <i class="fa fa-sign-in"></i>id="seta"></ion-icon>
    </button>
    <p class="lado-botao">Voltar </p>
</section>
    <section id="testimonials">
      <br>
     
      <section classs="testimonial-heading">
    <span class="span">Avaliações</spam>
      <br>
     
      </section>
<br>
<br>
 
     <section class="testimonial-box-container">
 
      <!--box1------------------------------------->
          <section class="testimonial-box">
 
      <!--top-------------------------------------------->      
            <section class="box-top">
              <!--profile------------------------>
              <section class="profile">
                <!--img-------->
                <section class="profile-img">
                    <img src="Mara.jpg">
                </section>
                <!--name-and-usernam---------->
                <section class="name-user">
                  <strong>Talita Ijaz</strong>
                  <span>@talitaijazweb</span>
                </section>
              </section>
              <!--reviewws----------------------->
                <section class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </section>
                 
               
             
            </section>
            <!--Comentarios---------------------->
            <section class="client-comment">
              <p class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, ipsum, dolor sit amet consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium! perferendis ducimus libero animi, recusandae reiciendis laudantium!</p>
            </section>
          </section>
 
 
 <!--box1------------------------------------->
 <section class="testimonial-box">
 
  <!--top-------------------------------------------->      
        <section class="box-top">
          <!--profile------------------------>
          <section class="profile">
            <!--img-------->
            <section class="profile-img">
                <img src="Mara.jpg">
            </section>
            <!--name-and-usernam---------->
            <section class="name-user">
              <strong>Talita Ijaz</strong>
              <span>@talitaijazweb</span>
            </section>
          </section>
          <!--reviewws----------------------->
            <section class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </section>
             
           
         
        </section>
        <!--Comentarios---------------------->
        <section class="client-comment">
          <p  class="p">Lorem ipsum, dolor sit ipsum, dolor sit amet consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium! amet consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium!</p>
        </section>
      </section>        
<!--box1------------------------------------->
<section class="testimonial-box">
 
  <!--top-------------------------------------------->      
        <section class="box-top">
          <!--profile------------------------>
          <section class="profile">
            <!--img-------->
            <section class="profile-img">
                <img src="Mara.jpg">
            </section>
            <!--name-and-usernam---------->
            <section class="name-user">
              <strong>Talita Ijaz</strong>
                  <span>@talitaijazweb</span>
            </section>
          </section>
          <!--reviewws----------------------->
            <section class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </section>
             
           
         
        </section>
        <!--Comentarios---------------------->
        <section class="client-comment">
          <p  class="p">Lorem ipsum, dolor sit amet consectetur  ipsum, dolor sit amet consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium! adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium!</p>
        </section>
      </section>
<!--box1------------------------------------->
<section class="testimonial-box">
 
  <!--top-------------------------------------------->      
        <section class="box-top">
          <!--profile------------------------>
          <section class="profile">
            <!--img-------->
            <section class="profile-img">
                <img src="Mara.jpg">
            </section>
            <!--name-and-usernam---------->
            <section class="name-user">
              <strong>Talita Ijaz</strong>
                  <span>@talitaijazweb</span>
            </section>
          </section>
          <!--reviewws----------------------->
            <section class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </section>
             
           
         
        </section>
        <!--Comentarios---------------------->
        <section class="client-comment">
          <p  class="p">Lorem ipsum, dolor sit   ipsum, dolor sit amet consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium!amet consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium!</p>
        </section>
      </section>
 
<!--box1------------------------------------->
<section class="testimonial-box">
 
  <!--top-------------------------------------------->      
        <section class="box-top">
          <!--profile------------------------>
          <section class="profile">
            <!--img-------->
            <section class="profile-img">
                <img src="Mara.jpg">
            </section>
            <!--name-and-usernam---------->
            <section class="name-user">
              <strong>Talita Ijaz</strong>
                  <span>@talitaijazweb</span>
            </section>
          </section>
          <!--reviewws----------------------->
            <section class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </section>
             
           
         
        </section>
        <!--Comentarios---------------------->
        <section class="client-comment">
          <p  class="p">Lorem ipsum, dolor sit amet  ipsum, dolor sit amet consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium! consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium!</p>
        </section>
      </section>
 
 
<!--box1------------------------------------->
<section class="testimonial-box">
 
  <!--top-------------------------------------------->      
        <section class="box-top">
          <!--profile------------------------>
          <section class="profile">
            <!--img-------->
            <section class="profile-img">
                <img src="Mara.jpg">
            </section>
            <!--name-and-usernam---------->
            <section class="name-user">
              <strong>Talita Ijaz</strong>
              <span>@talitaijazweb</span>
            </section>
          </section>
          <!--reviewws----------------------->
            <section class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </section>
             
           
         
        </section>
        <!--Comentarios---------------------->
        <section class="client-comment">
          <p  class="p">Lorem ipsum, dolor sit amet  ipsum, dolor sit amet consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium! consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium!</p>
        </section>
      </section>
 
<!--box1------------------------------------->
<section class="testimonial-box">
 
  <!--top-------------------------------------------->      
        <section class="box-top">
          <!--profile------------------------>
          <section class="profile">
            <!--img-------->
            <section class="profile-img">
                <img src="Mara.jpg">
            </section>
            <!--name-and-usernam---------->
            <section class="name-user">
              <strong>Talita Ijaz</strong>
                  <span>@talitaijazweb</span>
            </section>
          </section>
          <!--reviewws----------------------->
            <section class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </section>
             
           
         
        </section>
        <!--Comentarios---------------------->
        <section class="client-comment">
          <p  class="p">Lorem ipsum, dolor sit amet consectetur  ipsum, dolor sit amet consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium! adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium!</p>
        </section>
      </section>
 
 
<!--box1------------------------------------->
<section class="testimonial-box">
 
  <!--top-------------------------------------------->      
        <section class="box-top">
          <!--profile------------------------>
          <section class="profile">
            <!--img-------->
            <section class="profile-img">
                <img src="Mara.jpg">
            </section>
            <!--name-and-usernam---------->
            <section class="name-user">
              <strong>Talita Ijaz</strong>
                  <span>@talitaijazweb</span>
            </section>
          </section>
          <!--reviewws----------------------->
            <section class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </section>
             
           
         
        </section>
        <!--Comentarios---------------------->
        <section class="client-comment">
          <p  class="p">Lorem ipsum, dolor sit amet consectetur  ipsum, dolor sit amet consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium! adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium!</p>
        </section>
      </section>
 
      <!--box1------------------------------------->
      <section class="testimonial-box">
 
        <!--top-------------------------------------------->      
              <section class="box-top">
                <!--profile------------------------>
                <section class="profile">
                  <!--img-------->
                  <section class="profile-img">
                      <img src="Mara.jpg">
                  </section>
                  <!--name-and-usernam---------->
                  <section class="name-user">
                    <strong>Talita Ijaz</strong>
                    <span>@talitaijazweb</span>
                  </section>
                </section>
                <!--reviewws----------------------->
                  <section class="reviews">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </section>
                   
                 
               
              </section>
              <!--Comentarios---------------------->
              <section class="client-comment">
                <p  class="p">Lorem ipsum, dolor sit amet consectetur   ipsum, dolor sit amet consectetur adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium! adipisicing elit. Ab incidunt iure nulla perspiciatis alias deserunt veniam dignissimos minus facilis architecto dolorem quaerat, tempora, perferendis ducimus libero animi, recusandae reiciendis laudantium!</p>
              </section>
            </section>
 
     </section>
 
    </section>
</body>