<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel = "stylesheet" href="css/cadastro.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<title>Cadastro</title>
</head>
 
<body>
<section class="container">
<section class="form-image">
<img src="images/logo.png" >
</section>
<section class="form">
<form action="#">
<section class="form-header"></section>
<section class="title">
<h1 class="titulo">CADASTRE-SE</h1>
</section>
<section class="input-group">
<section class="input-box">
<label for="priemiroNome"> Primeiro Nome</label>
<input id="primeiroNome" type=" text" name="primeiroNome" placeholder="Digite seu primeiro nome:" required>
</section>
 
                    <section class="input-box">
<label for="Sobrenome"> Sobrenome</label>
<input id="Sobrenome" type=" text" name="Sobrenome" placeholder="Digite seu Sobrenome:" required>
</section>
 
                    <section class="input-box">
<label for="email"> Email</label>
<input id="email" type=" email" name="email" placeholder="Digite seu email:" required>
</section>
 
                    <section class="input-box">
<label for="number"> Celular</label>
<input id="number" type=" tel" name="number" placeholder="(xx) xxxx-xxxx" required>
</section>
 
                    <section class="input-box">
<label for="password"> Senha</label>
<input id="password" type=" password" name="password" placeholder="Digite sua senha:" required>
</section>
 
                    <section class="input-box">
<label for="password"> Confirme sua senha</label>
<input id="Confirmpassword" type=" password" name="Confirmpassword" placeholder="Digite sua senha:" required>
</section>
</section>
 
                <section class="gender-inputs">
<section class="gender-title">
<h6>Gênero:</h6>
</section>
<section class="gende-group">
<section class="gender-input">
<input type="radio" id="feminino" name="genero" >
<label for="feminino"> Feminino</label>
</section>
<section class="gender-input">
<input type="radio" id="masculino" name="genero" >
<label for="masculino"> Masculino</label>
</section>
<section class="gender-input">
<input type="radio" id="outros" name="genero" >
<label for="outros"> outros</label>
</section>
<section class="gender-input">
<input type="radio" id="none" name="genero" >
<label for="none"> Prefiro não dizer</label>
</section>
</section>
 
                </section>
<section class="continue-button">
<button><a href="#">Continuar</a></button>
</section>
</form>
 
</section>
</section>
 
 
    
</body>
</html>