<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat de Jaqueline</title>
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="css/menu.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
</head>

 
<%- include('../partials/menu-logado'); %>


<body>

  
      
      <section class="botao-de-voltar">   
        <button class="btn-voltar" onclick="voltarPagina()"> <ion-icon name="arrow-back-outline" id="seta"></ion-icon></button>
        <p class="lado-botao"> Conversas</p>
    </section>


    <main>



    <section class="chat-container-principal">
        
                <section class="chat-list">
                        <section class="con-ant-h2-button">
            
                            <h2 class="h2-cont">Minhas Conversas</h2>
                            <button class="close-chat-list" onclick="toggleChatList()">✖</button>
            
                        </section>

                    <ul class="lista-conversas-anteriores">
                        <li onclick="openChat('Sthefany Rocha')"> <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-con-ant"><span>Sthefany Rocha</span></li>
                        <li onclick="openChat('Maria Eduarda')"> <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-con-ant"><span>Maria Eduarda</span></li>
                        <li onclick="openChat('Letícia Silva')"> <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-con-ant"><span>Leticia Silva</span></li>
        
                    </ul>
                </section>
        
                <section class="chat-window">
        
                    <section class="nome-chat-atual">
                        <button class="abrir-con-ant"  onclick="toggleChatList()"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill=" #103b2b"><path d="M880-80 720-240H320q-33 0-56.5-23.5T240-320v-40h440q33 0 56.5-23.5T760-440v-280h40q33 0 56.5 23.5T880-640v560ZM160-473l47-47h393v-280H160v327ZM80-280v-520q0-33 23.5-56.5T160-880h440q33 0 56.5 23.5T680-800v280q0 33-23.5 56.5T600-440H240L80-280Zm80-240v-280 280Z"/></svg></button>
                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-con-ant">  <h2 id="chat-with">Maria Eduarda</h2>
                    </section>
        
                    <section class="msg-area">
        
                    <section class="mensagem-env">

                        <section class="balao-msg">
                            <p> Olá, tudo bem?</p>
                        </section>
                    </section>
                        
                    <section class="mensagem-rec">

                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-con-ant"> 

                        <section class="balao-msg-rec">
                            <p>Oi, tudo sim. Boa tarde.</p>
                        </section>
                    </section>

                    <section class="mensagem-env">

                        <section class="balao-msg">
                            <p> Gostei do seu trabalho. </p>
                        </section>
                    </section>

                    <section class="mensagem-env">

                        <section class="balao-msg">
                            <p> muito legal </p>
                        </section>
                    </section>


                    <section class="mensagem-rec">

                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-con-ant"> 

                        <section class="balao-msg-rec">
                            <p>Obrigada!</p>
                        </section>
                    </section>


                    <section class="mensagem-rec">

                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-con-ant"> 

                        <section class="balao-msg-rec">
                            <p>OI, tudo sim. Boa tarde.</p>
                        </section>
                    </section>


                    <section class="mensagem-rec">

                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-con-ant"> 

                        <section class="balao-msg-rec">
                            <p>ok </p>
                        </section>
                    </section>


        
                    </section>
        
                    <section class="area-digitar">
        
                        <input type="text" placeholder="Digite sua mensagem aqui..." />
                        <button type="submit" id="enviar-msg">
                            <ion-icon name="paper-plane-outline" id="icone"></ion-icon>
                        </button>
        
                    </section>
                </section>
            </section>

        </main>

        <%- include('../partials/rodape'); %>


        <script src="js/voltar.js"></script>
        

        <script src="js/chat.js"></script>




    
</body>
</html>