<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat de Jaqueline</title>
    <link rel="stylesheet" href="css/chat.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
</head>
<body>

    <header>
        <nav class="menu" id="menu">


           <img src="imagens/logo.png" id="logo"><a href="#" class="logo" ></a></img>
           <img src="imagens/traço perfeito.png" id="traco" alt="Traço Perfeito">

<!--
           <section class="mobile-menu">

            <section class="line1"></section>
            <section class="line2"></section>
            <section class="line3"></section>


           </section>

           -->
            <ul>
                <li><p><a href=/quemcadastra class="pri">EXPLORAR</a></p></li>
                <li><p><a href=/contratar class="ter">CONTRATAR</a></p></li>
                <li><p><a href=/quemsomos class="qua">QUEM SOMOS</a></p></li>
                <li><p><a href=/cadastro class="direita02">CADASTRAR-SE</p></a></li>
                <li><p><a href=/login class="direita01">ENTRAR</a></p></li>
            </ul>
           
        </nav>
    </header>

    <main>

        <section class="principal">

            <section class="esquerda">

                <section class="minhasconversas">
                    <h1 id="minhas-conversas">Minhas conversas</h1>
                </section>

                <section class="conversas">
                    <section class="conversa">
                        <img src="imagens/fotoperfil1.jpeg" >
                        <h2>Fulano de Tal</h2>

                    </section>

                    <section class="conversa">
                        <img src="imagens/fotoperfil1.jpeg" >
                        <h2>Fulano de Tal</h2>
                        
                    </section>

                    <section class="conversa">
                        <img src="imagens/fotoperfil1.jpeg" >
                        <h2>Fulano de Tal</h2>
                        
                    </section>
                </section>
                


            </section>


            <section class="chat-atual"> 
                
                <img src="imagens/fotoperfil1.jpeg" class="foto-chat-atual">
                
                <p id="nome-chat-atual">Jaqueline Santos | Designer Gráfica </p></section>



            <section class="direita">
               
                <section class="mensagens">

                    <section class="msg-enviada"><p>Olá, tudo bem? Gostei muito do seu trabalho. Qual sua faixa de preço?</p></section>

                    <section class="msg-recebida"><p>Oi, boa tarde! entre 500 a 1500, depende do tamanho do projeto... </p></section>

                    <section class="msg-enviada"><p>Dahora! Tenho uma loja e queria uma identidade visual pra ela. Cê faz? Quanto vai sair?</p></section>

                    
                  
                </section>

             

            </section>

            <section class="digite">

                <form class="input-area">
                    <input type="text" placeholder="Digite sua mensagem aqui..." />
                    <button type="submit" id="caixa-de-texto">
                        
                        <ion-icon name="paper-plane-outline" id="icone"></ion-icon>
                    </button> 
                </form>

            </section>

        </section>





        <footer class="rodape">

                <section class="img-rodape">
                    <img src="imagens/logo.png" alt="Logotipo">
                </section>

               <section class="info-rodape">

                   <h1>TRAÇO PERFEITO</h1>
                   <p>Lorem ipsum dolor sit, amet coquatur!</p>
        
               </section>

               <section class="termos">

                <h1>TERMOS E CONDIÇÕES</h1>
               </section>

               <section class="rodape_fale_conosco">
                <h1 id="fale-conosco">FALE CONOSCO</h1>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-square-x-twitter"></i>
         
              </section>
        </footer>
       
    </main>


    
</body>
</html>