<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Traço Perfeito</title>
 
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/contratar.css">
</head>
<body>
    <header>
        <nav class="menu" id="menu">
           <img src="images/logo.png" width="60px" id="logo"><a href="#" class="logo" ></a></img>
            <ul>
                <li><p><a href="#" class="pri">Explorar</a></p></li>
                <li><p><a href=/contratar class="ter">Contratar</a></p></li>
                <li><p><a href=/quemsomos class="qua">Quem somos</a></p></li>
                <li><p><a href=/cadastro class="direita02">Cadastrar-se</p></a></li>
                <li><p><a href=/login class="direita01">Entrar</a></p></li>
            </ul>
           
        </nav>
    </header>
 
<main>
<section class="category">
<h2>Artistas</h2>
<div class="art-item">
<img src="..\images\golden.png" alt="Marcos Vinicius">
<p>Marcus Vinicius</p>
<p>Designer gráfico</p>
</div>
<div class="art-item">
    <img src="..\images\golden.png" alt="Joana">
    <p>Joana</p>
    <p>Designer gráfico</p>
    </div>
</section>
</main>
<div class="art-item">
    <img src="..\images\golden.png" alt="Mickey">
    <p>Mickey</p>
    <p>Designer gráfico</p>
    </div>
    </body>
    </html>
    <div class="art-item">
        <img src="..\images\golden.png" alt="Babu">
        <p>Babu</p>
        <p>Designer gráfico</p>
        </div>
        </body>
        </html>
        <div class="art-item">
            <img src="..\images\golden.png" alt="Karol">
            <p>Karol</p>
            <p>Designer gráfico</p>
            </div>
            </body>
            </html>
 
 
 
 
<section class="category">
<h2>Logo Makers</h2>
<div class="art-item">
<img src="..\images\golden.png" alt="Nina">
<p>Nina</p>
<p>Logo Makers</p>
</div>
</section>
</main>
 
 
<div class="art-item">
<img src="..\images\golden.png" alt="Kiko">
<p>Kiko</p>
<p>Logo Makers</p>
</div>
</body>
</html>
 
<div class="art-item">
    <img src="..\images\golden.png" alt="Mila">
    <p>Mila</p>
    <p>Logo Makers</p>
    </div>
</body>
</html>
 
<div class="art-item">
    <img src="..\images\golden.png" alt="Ana">
    <p>Ana</p>
    <p>Logo Makers</p>
</div>
</body>
</html>
 
 
<footer>
<p>&copy; 2024 Traço Perfeito. Todos os direitos reservados.</p>
</footer>
</body>
</html>