<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Traço Perfeito</title>
<link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
 
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/contratar.css">
</head>
<body>
    <header>
        <nav class="menu" id="menu">


           <img src="imagens/logo.png" id="logo"><a href="#" class="logo" ></a></img>
           <img src="imagens/traço perfeito.png" id="traco" alt="Traço Perfeito">

<!--
           <section class="mobile-menu">

            <section class="line1"></section>
            <section class="line2"></section>
            <section class="line3"></section>


           </section>

           -->
            <ul>
                <li><p><a href=/index class="pri">EXPLORAR</a></p></li>
                <li><p><a href="#" class="ter">CONTRATAR</a></p></li>
                <li><p><a href=/quemsomos class="qua">QUEM SOMOS</a></p></li>
                <li><p><a href=/cadastro class="direita02">CADASTRAR-SE</p></a></li>
                <li><p><a href=/login class="direita01">ENTRAR</a></p></li>
            </ul>
           
        </nav>
    </header>

    <h1>Página em construção...</h1>
<!--  
<main>
<section class="category">
<h2>Artistas</h2>
<div class="art-item">
<img src="..\images\golden.png" alt="Marcos Vinicius">
<p>Marcus Vinicius</p>
<p>Designer gráfico</p>
</div>
<div class="art-item">
    <img src="..\images\golden.png" alt="Joana">
    <p>Joana</p>
    <p>Designer gráfico</p>
    </div>
</section>
</main>
<div class="art-item">
    <img src="..\images\golden.png" alt="Mickey">
    <p>Mickey</p>
    <p>Designer gráfico</p>
    </div>
    </body>
    </html>
    <div class="art-item">
        <img src="..\images\golden.png" alt="Babu">
        <p>Babu</p>
        <p>Designer gráfico</p>
        </div>
        </body>
        </html>
        <div class="art-item">
            <img src="..\images\golden.png" alt="Karol">
            <p>Karol</p>
            <p>Designer gráfico</p>
            </div>
            </body>
            </html>
 
 
 
 
<section class="category">
<h2>Logo Makers</h2>
<div class="art-item">
<img src="..\images\golden.png" alt="Nina">
<p>Nina</p>
<p>Logo Makers</p>
</div>
</section>
</main>
 
 
<div class="art-item">
<img src="..\images\golden.png" alt="Kiko">
<p>Kiko</p>
<p>Logo Makers</p>
</div>
</body>
</html>
 
<div class="art-item">
    <img src="..\images\golden.png" alt="Mila">
    <p>Mila</p>
    <p>Logo Makers</p>
    </div>
</body>
</html>
 
<div class="art-item">
    <img src="..\images\golden.png" alt="Ana">
    <p>Ana</p>
    <p>Logo Makers</p>
</div>
</body>
</html> -->
 

</body>
</html>