<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Traço Perfeito</title>
<link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
 
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/contratar.css">
</head>
<body>
    
</body>
</html>