<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Preços</title>
    <link rel="stylesheet" href="css/assinaturas.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   
</head>
<body>


    
    
    <section class="botao-de-voltar">   
        <button class="btn-voltar" onclick="voltarPagina()"> <ion-icon name="arrow-back-outline" id="seta"></ion-icon>
       
           
        </button>

        <p class="lado-botao">Voltar à página inicial</p>
    </section>

<section class="container">
    <h2> ESCOLHA UM PLANO</h2>
    <section class="linha-de-preco">
        <section class="coluna-de-preco">
            <section class="preco mensal">
                <p>Mensal</p>
               
            </section>
            <h3> R$19,99 <br> <span>por mês</span></h3>
            <ul>
               <li> Acesso Completo <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed" class="check"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg></li>
               <li> Publicações ilimitadas <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed" class="check"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg></li>
               <li> Melhor Custo benefício <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed" class="x"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></li>
            </ul>
            <button class="mensal"  onclick="location.href='/pagamento'">Assinar</button>
        </section>
        <section class="coluna-de-preco">
            <section class="preco trim">
                <p>Trimestral</p>
               
            </section>
            <h3> R$55,00 <br> <span>por trimestre</span></h3>
            <ul>
                <li> Acesso Completo  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed" class="check"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg></li>
                <li> Publicações ilimitadas<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed" class="check"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg></li>
                <li> Melhor Custo benefício <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed" class="x"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></li>
           
                
            </ul>
            <button class="trim" onclick="location.href='/pagamento'">Assinar</button>
        </section>
        <section class="coluna-de-preco">
            <section class="preco anual">
                <p>Anual</p>
               
            </section>
            <h3> R$180,00 <br><span>por ano</span></h3>
            <ul>
                <li> Acesso Completo  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed" class="check"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg></li>
                <li> Publicações ilimitadas <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed" class="check"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg></li>
                <li> Melhor Custo benefício <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed" class="check"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg></li>
           
                
              
            </ul>
            <button class="anual" onclick="location.href='/pagamento'">Assinar</button>
        </section>
        
    </section>
</section>









<script src="js/voltar.js"></script>


    

    
</body>
</html>