<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#191E29">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traço Perfeito</title>
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/barrapesquisa.css">
    <link rel="stylesheet" href="css/filtro.css">
    <link rel="stylesheet" href="css/blocos.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="../js/banner.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
</head>
 
 
 
<!-------------------------------BODY------------------------------------------------>
<body onload="PassarProLado()">

    <%- include('../partials/menu-c-c'); %>

 
    <!----------------------------------BANNER--------------------------------------------------------->
 
 
                <main>
 
 
                    <!---------------------BARRA DE PESQUISA---------------->
                     
                     <section class="pesquisas">
                        <section class="search1">
                            <section class="icon"> <ion-icon name="search-outline"></ion-icon></section>
                            <input class="search-input" type="search" placeholder="O que você está procurando hoje?">
                        
                        </section> 

                        <button id="botao-filtro"> <ion-icon name="filter-outline" id="icon-filtro"></ion-icon></button>

                    </section>
                
                        <section class="secao-filtro" id="secao-filtro">
                
                            <button id="fechar-aba"> X </button>
                            <h2 id="filtros-nome-h2">Filtros</h2>
                
                
                            <section class="categoria-filtro">
                                <span class="caret">▶</span> Tipo
                            </section>
                            
                            <section class="opcoes-categoria">
                                <label><input type="checkbox" > Branding e Identidade Visual</label><br>
                                <label><input type="checkbox"> Design Gráfico</label><br>
                                <label><input type="checkbox"> Ilustração </label> <br>
                                <label><input type="checkbox"> Arte Conceitual</label> <br>
                                <label><input type="checkbox"> Design de Interface (UI/UX)</label> <br>
                                <label><input type="checkbox"> Design de Produtos</label> <br>
                                <label><input type="checkbox"> Logotipos</label> <br>
                                <label><input type="checkbox"> Edição de Fotos e Vídeos</label> 
                            </section>
                
                            <hr>
                
                            <section class="categoria-filtro">
                                <span class="caret">▶</span> Estilo
                            </section>
                
                            <section class="opcoes-categoria">
                                <label><input type="checkbox"> Minimalista</label><br>
                                <label><input type="checkbox"> Detalhado</label><br>
                                <label><input type="checkbox"> 3D</label> <br>
                                <label><input type="checkbox"> Flat Design</label> 
                                
                            </section>
                
                            <hr>
                
                            
                            <section class="categoria-filtro">
                                <span class="caret">▶</span> Especialização
                            </section>
                
                           
                
                            <section class="opcoes-categoria">
                                <label><input type="checkbox"> Graduação </label><br>
                                <label><input type="checkbox"> Curso Técnico</label><br>
                                <label><input type="checkbox"> Sem formação</label><br>
                              
                                
                            </section>
                
                            
                
                            
                
                            <button id="aplicar-filtros">Aplicar</button>
                        </section>
                
                   
                 
                 
                           
                 <section class="container-perfis">
                
                
                
                    
 
                    
<!--                         
                        <button class="filtragem"><img src="imagens/filter.svg" alt="filter icon" onclick="Aparecer()">
                            <a class="filtro" href="#">Data de Publicação</a>
                            <ul class="lista">
                                <li><a href="#">Mais Recente</a></li>
                                <li><a href="#">Há um mês</a></li>
                                <li><a href="#">Há um ano</a></li>
                            </ul>
                            <a class="filtro" href="#">Tipo</a>
                            <ul class="lista">
                                <li><a href="#">Ilustração</a></li>
                                <li><a href="#">Edição de Vídeo</a></li>
                                <li><a href="#">Design Gráfico</a></li>
                            </ul>
                            <a class="filtro" href="#">Sobre o Artista</a>
                            <ul class="lista">
                                <li><a href="#">Formação em Design Gráfico</a></li>
                                <li><a href="#">Formação em ...</a></li>
                                <li><a href="#">Formação em ...</a></li>
                            </ul>
                            <a class="filtro" href="#">Traços</a>
                            <ul>
                                <li><a href="#">Linha Cheia</a></li>
                                <li><a href="#">Linha tracejada</a></li>
                                <li><a href="#">Linha traço-ponto</a></li>
                            </ul>
                            </button> -->
                        
                    </section>

                    <script src="js/filtro.js"></script>
                 

                    
                    
 
 
 
 
                    <!--------------------------------------CAIXAS--------------------------------------------------------->
                    
                    <section class="container-pag-explorar">
           
                        <section class="item-explorar item-1">

                            <a href=/publicacao-c-c> <img src="imagens/2.jpg" class="publicacao-img"></a>
                            
                                <section class="nome-e-btn-like">

                                    <section class="foto-nome-dono-publi">
                                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-explorar">
                                        <p class="nome-dono-post-ex"><a href=/perfil-a-c-c >Jaqueline Maria</a></p>
                                    </section>

                                    <button class="like-button">
                                        <i class="far fa-heart"></i>
                                    </button>

                                </section>
    
                                <p class="descricao-item-explorar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        
                        </section>

                        
                        <section class="item-explorar item-1">

                            <a href=/publicacao-c-c> <img src="imagens/3.jpg" class="publicacao-img"></a>
                            
                                <section class="nome-e-btn-like">

                                    <section class="foto-nome-dono-publi">
                                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-explorar">
                                        <p class="nome-dono-post-ex"><a href=/perfil-a-c-c >Jaqueline Maria</a></p>
                                    </section>

                                    <button class="like-button">
                                        <i class="far fa-heart"></i>
                                    </button>

                                </section>
    
                                <p class="descricao-item-explorar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        
                        </section>

                        
                        <section class="item-explorar item-1">

                            <a href=/publicacao-c-c> <img src="imagens/5.jpg" class="publicacao-img"></a>
                            
                                <section class="nome-e-btn-like">

                                    <section class="foto-nome-dono-publi">
                                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-explorar">
                                        <p class="nome-dono-post-ex"><a href=/perfil-a-c-c >Jaqueline Maria</a></p>
                                    </section>

                                    <button class="like-button">
                                        <i class="far fa-heart"></i>
                                    </button>

                                </section>
    
                                <p class="descricao-item-explorar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        
                        </section>

                        
                        <section class="item-explorar item-1">

                            <a href=/publicacao-c-c> <img src="imagens/8.jpg" class="publicacao-img"></a>
                            
                                <section class="nome-e-btn-like">

                                    <section class="foto-nome-dono-publi">
                                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-explorar">
                                        <p class="nome-dono-post-ex"><a href=/perfil-a-c-c >Jaqueline Maria</a></p>
                                    </section>

                                    <button class="like-button">
                                        <i class="far fa-heart"></i>
                                    </button>

                                </section>
    
                                <p class="descricao-item-explorar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        
                        </section>

                        
                        <section class="item-explorar item-1">

                            <a href=/publicacao-c-c> <img src="imagens/7.jpg" class="publicacao-img"></a>
                            
                                <section class="nome-e-btn-like">

                                    <section class="foto-nome-dono-publi">
                                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-explorar">
                                        <p class="nome-dono-post-ex"><a href=/perfil-a-c-c >Jaqueline Maria</a></p>
                                    </section>

                                    <button class="like-button">
                                        <i class="far fa-heart"></i>
                                    </button>

                                </section>
    
                                <p class="descricao-item-explorar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        
                        </section>

                        
                        <section class="item-explorar item-1">

                            <a href=/publicacao-c-c> <img src="imagens/10.jpg" class="publicacao-img"></a>
                            
                                <section class="nome-e-btn-like">

                                    <section class="foto-nome-dono-publi">
                                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-explorar">
                                        <p class="nome-dono-post-ex"><a href=/perfil-a-c-c >Jaqueline Maria</a></p>
                                    </section>

                                    <button class="like-button">
                                        <i class="far fa-heart"></i>
                                    </button>

                                </section>
    
                                <p class="descricao-item-explorar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        
                        </section>

                        
                        <section class="item-explorar item-1">

                            <a href=/publicacao-c-c> <img src="imagens/11.jpg" class="publicacao-img"></a>
                            
                                <section class="nome-e-btn-like">

                                    <section class="foto-nome-dono-publi">
                                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-explorar">
                                        <p class="nome-dono-post-ex"><a href=/perfil-a-c-c >Jaqueline Maria</a></p>
                                    </section>

                                    <button class="like-button">
                                        <i class="far fa-heart"></i>
                                    </button>

                                </section>
    
                                <p class="descricao-item-explorar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        
                        </section>

                        
                        <section class="item-explorar item-1">

                            <a href=/publicacao-c-c> <img src="imagens/12.jpg" class="publicacao-img"></a>
                            
                                <section class="nome-e-btn-like">

                                    <section class="foto-nome-dono-publi">
                                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-explorar">
                                        <p class="nome-dono-post-ex"><a href=/perfil-a-c-c >Jaqueline Maria</a></p>
                                    </section>

                                    <button class="like-button">
                                        <i class="far fa-heart"></i>
                                    </button>

                                </section>
    
                                <p class="descricao-item-explorar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        
                        </section>

 
                       
                        </section>

               
                </main>

               

               

    <%- include('../partials/rodape'); %>

 
    <script src="js/like.js"></script>
    <script src="js/filtro.js"></script>
    <script src="js/mobile-navbar.js"></script>
    
 
</body>
</html>