<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traço Perfeito</title>
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
</head>
 
 
 
<!-------------------------------BODY------------------------------------------------>
<body>
    <header>
        <nav class="menu" id="menu">
           <img src="imagens/logo 1.png" id="logo"><a href="#" class="logo" ></a></img>
           <img src="imagens/traço perfeito.png" id="traco" alt="Traço Perfeito">
            <ul>
                <li><p><a href="#" class="pri">EXPLORAR</a></p></li>
                <li><p><a href=/contratar class="ter">CONTRATAR</a></p></li>
                <li><p><a href=/quemsomos class="qua">QUEM SOMOS</a></p></li>
                <li><p><a href=/cadastro class="direita02">CADASTRAR-SE</p></a></li>
                <li><p><a href=/login class="direita01">ENTRAR</a></p></li>
            </ul>
           
        </nav>
    </header>
 
 
    <!----------------------------------BANNER--------------------------------------------------------->
 
    <section class="banner">
 
    </section>
 
 
 
                <main>
 
 
 
                    <!---------------------BARRA DE PESQUISA---------------->
                     
                    <section class="search">
                        <section class="icon"> <ion-icon name="search-outline"></ion-icon></section>
                        <input class="search-input" type="search" placeholder="O que você está procurando hoje?">
                       
                    </section>
 
 
 
 
 
 
 
 
 
                    <!--------------------------------------CAIXAS--------------------------------------------------------->
                    
                    <section class="container">
           
                        <section class="item item-1">
                            <img src="imagens/5.jpg" alt="">
                            <section class="info">
                                
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Jaqueline Maria</h1>
                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </section>
                          

                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/2.jpg" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil"><h1 class="nome">Nome</h1>
                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                           
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/3.jpg" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          
                            
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/4.jpg" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                        
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                        </section>

                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <section class="info">
                                
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <section class="info">
                                
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                           
                            <section class="info">
                                
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Desrição</p>
                            </section>
                          
                        </section>
           
                     
           
                       
                    </section>
           
           
           
           
               
                </main>
 
 
    <script>

document.addEventListener('DOMContentLoaded', function() {
            var buttons = document.querySelectorAll('.like-button');
        
            buttons.forEach(function(button) {
                button.addEventListener('click', function() {
                   
                    button.classList.toggle('liked');
                    
                    
                    var icon = button.querySelector('i');
                    if (icon.classList.contains('far')) {
                        icon.classList.remove('far');
                        icon.classList.add('fas');
                    } else {
                        icon.classList.remove('fas');
                        icon.classList.add('far');
                    }
                });
            });
        });


    </script>
 
</body>
</html>