<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traço Perfeito</title>
    <link rel="stylesheet" href="menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="menu" id="menu">
           <img src="tp2.png" width="60px" id="logo"><a href="#" class="logo" ></a></img>
            <ul>
                <li><p><a href="#" class="pri">Explorar</a></p></li>
                <li><p><a href="#" class="seg">Perfis</a></p></li>
                <li><p><a href="#" class="ter">Contratar</a></p></li>
                <li><p><a href="#" class="qua">Quem somos</a></p></li>
                <li><p><a href="#" class="direita02">Cadastrar-se</p></a></li>
                <li><p><a href="#" class="direita01">Entrar</a></p></li>
            </ul>
            
        </nav>
    </header>

    <section class="banner"></section>
  
    
</body>
</html>