<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traço Perfeito</title>
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/banner.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
</head>
 
 
 
<!-------------------------------BODY------------------------------------------------>
<body>
    <header>
        <nav class="menu" id="menu">


           <img src="imagens/logo.png" id="logo"><a href="#" class="logo" ></a></img>
           <img src="imagens/traço perfeito.png" id="traco" alt="Traço Perfeito">

<!--
           <section class="mobile-menu">

            <section class="line1"></section>
            <section class="line2"></section>
            <section class="line3"></section>


           </section>

           -->
            <ul>
                <li><p><a href="/cadastroArtista" class="pri">EXPLORAR</a></p></li>
                <li><p><a href=/contratar class="ter">CONTRATAR</a></p></li>
                <li><p><a href=/quemsomos class="qua">QUEM SOMOS</a></p></li>
                <li><p><a href=/cadastro class="direita02">CADASTRAR-SE</p></a></li>
                <li><p><a href=/login class="direita01">ENTRAR</a></p></li>
            </ul>
           
        </nav>
    </header>
 
 
    <!----------------------------------BANNER--------------------------------------------------------->
 
    <section class="banner">
      
 
            <section class="branco">
                <ul class="slider">
                    <li>
                        <input type="radio" id="slide1" name="slider" checked>
                        <label for="slide1" ></label>
                        <img src="imagens/banner4.png">
               
                    </li>
                    <li>
                        <input type="radio" id="slide2" name="slider" >
                        <label for="slide2" ></label>
                        <img src="imagens/banner5.png">
               
                    </li>
                    <li>
                        <input type="radio" id="slide3" name="slider" >
                        <label for="slide3" ></label>
                        <img src="imagens/banner4.png">
               
                    </li>
       
                </ul>
   
    </section>
 
 
 
                <main>
 
 
 
                    <!---------------------BARRA DE PESQUISA---------------->
                     
                    <section class="search">
                        <section class="icon"> <ion-icon name="search-outline"></ion-icon></section>
                        <input class="search-input" type="search" placeholder="O que você está procurando hoje?">
                       
                    </section>
 
 
 
 
 
 
 
 
 
                    <!--------------------------------------CAIXAS--------------------------------------------------------->
                    
                    <section class="container">
           
                        <section class="item item-1">
                            <a href="/publicacao"> <img src="imagens/5.jpg" alt=""></a>
                            <section class="info">
                                
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Jaqueline Maria</h1>
                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </section>
                          

                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/2.jpg" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil"><h1 class="nome">Nome</h1>
                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                           
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/3.jpg" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          
                            
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/9.jpg" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/3.jpg" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/6.jpg" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                        
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/7.jpg" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/8.jpg" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                        </section>

                        <section class="item item-1">
                            <img src="imagens/9.jpg" alt="">
                            <section class="info">
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/10.jpg" alt="">
                            <section class="info">
                                
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/11.jpg" alt="">
                            <section class="info">
                                
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Descrição</p>
                            </section>
                          

                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/12.jpg" alt="">
                           
                            <section class="info">
                                
                                <img src="imagens/fotoperfil1.jpeg" class="perfil">
                                <h1 class="nome">Nome</h1>

                                <button class="like-button">
                                    <i class="far fa-heart"></i> 
                                </button>
    
                                <p class="descricao">Desrição</p>
                            </section>
                          
                        </section>
           
                     
           
                       
                    </section>
           
           
           
           
               
                </main>



                <footer class="rodape">

                    <section class="img-rodape">
                        <img src="imagens/logo.png" alt="Logotipo">
                    </section>

                   <section class="info-rodape">

                       <h1>TRAÇO PERFEITO</h1>
                       <p>Lorem ipsum dolor sit, amet coquatur!</p>
            
                   </section>

                   <section class="termos">

                    <h1>TERMOS E CONDIÇÕES</h1>
                   </section>

                   <section class="rodape_fale_conosco">
                    <h1 id="fale-conosco">FALE CONOSCO</h1>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-square-x-twitter"></i>
             
                  </section>
                </footer>
 
    <script src="js/like.js"></script>
    <script src="js/mobile-navbar.js"></script>
    <script src="js/banner.js"></script>
 
</body>
</html>