<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traço Perfeito</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="css/menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
 
 
 
<!-------------------------------BODY------------------------------------------------>
<body>
    <header>
        <nav class="menu" id="menu">
           <img src="imagens/logo 1.png" id="logo"><a href="#" class="logo" ></a></img>
           <img src="imagens/traço perfeito.png" id="traco" alt="Traço Perfeito">
            <ul>
                <li><p><a href="#" class="pri">Explorar</a></p></li>
                <li><p><a href=/contratar class="ter">Contratar</a></p></li>
                <li><p><a href=/quemsomos class="qua">Quem somos</a></p></li>
        
            </ul>
           
        </nav>
    </header>
 
 
    <!----------------------------------BANNER--------------------------------------------------------->
 
    <section class="banner">
 
    </section>
 
 
 
                <main>
 
 
 
                    <!---------------------BARRA DE PESQUISA---------------->
                     
                    <section class="search">
                        <section class="icon"> <ion-icon name="search-outline"></ion-icon></section>
                        <input class="search-input" type="search" placeholder="O que você está procurando hoje?">
                       
                    </section>
 
 
 
 
 
 
 
 
 
                    <!--------------------------------------CAIXAS--------------------------------------------------------->
 
                    <section class="container">
           
                        <section class="item item-1">
                            <img src="imagens/5.jpg" alt="">
                            <h1 class="nome">Nome</h1>
                            <p class="descricao">Descrição</p>
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/2.jpg" alt="">
                            <h1 class="nome">Nome</h1>
                            <p class="descricao">Descrição</p>
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/3.jpg" alt="">
                            <h1 class="nome">Nome</h1>
                            <p class="descricao">Descrição</p>
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/4.jpg" alt="">
                            <h1 class="nome">Nome</h1>
                            <p class="descricao">Descrição</p>
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <h1 class="nome">Nome</h1>
                            <p class="descricao">Descrição</p>
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <h1 class="nome">Nome</h1>
                            <p class="descricao">Descrição</p>
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <h1 class="nome">Nome</h1>
                            <p class="descricao">Descrição</p>
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <h1 class="nome">Nome</h1>
                            <p class="descricao">Descrição</p>
                        </section>

                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <h1 class="nome">Nome</h1>
                            <p class="descricao">Descrição</p>
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <h1 class="nome">Nome</h1>
                            <p class="descricao">Descrição</p>
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <h1 class="nome">Nome</h1>
                            <p class="descricao">Descrição</p>
                        </section>
           
                       
                        <section class="item item-1">
                            <img src="imagens/quadrado.png" alt="">
                            <h1 class="nome">Nome</h1>
                            <p class="descricao">Descrição</p>
                        </section>
           
                     
           
                       
                    </section>
           
           
           
           
               
                </main>
 
 
     
 
</body>
</html>