<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Traço Perfeito</title>
</head>
<body>
 
 
 
 
        <form action="#">
 
            <h1>LOGIN</h1>
 
            <label for="email">Digite seu e-mail</label><br>
            <input type="email" name="" id="email"><br>
 
            <label for="senha">Digite sua senha</label><br>
            <input type="password" name="" id="senha"><br>
 
            <p class="p1"><a href="#">Esqueceu sua senha?</a></p>
 
            <p class="p2">Não tem uma conta? <a href="#">Cadastra-se</a></p>
 
            <button>Entrar</button>
 
 
 
        </form>
 
   
</body>
</html>