<link rel="stylesheet" href="css/menu-artista.css">
    <header>
        <nav class="menu" id="menu">

            <ul>
                <li><img src="imagens/logo.png" id="logo"><a href="#" class="logo" ></a></img></li>
                
                <li><a href=/index class="pri">EXPLORAR</a></li>
                <li><p><a href=/contratar class="ter">CONTRATAR</a></p></li>
                <li><p><a href=/quemsomos class="qua">QUEM SOMOS</a></p></li>
                <li><p><a href=/oportunidades class="pri">OPORTUNIDADES</a></p></li>
                <li><p><a href=/npva-publicacao class="ter">NOVA PUBLICAÇÃO</a></p></li>
                <li><p><a href=/meu-perfil-artista class="qua">MEU PERFIL</a></p></li>
            
              
                
            </ul>

           
           
        </nav>
    </header>
    
  