<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="css/meuperfil.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
</head>
  <body>

    <%- include('../partials/menu-c-c'); %>

   
    <section class="base_cabecalho">
      <section id="img-banner"></section>
      <section class="coluna_contaneir">
        <section class="coluna-esquerda">
          <section class="img__container">
            <img src="imagens/img.png" alt="Perfil" id="imgFoto">
            <span></span>
          </section>
          <input type="file" name="fImage" id="fImage" accept="image/*">
          <script src="js/meuperfil.js"></script>
        <section class="embaixo">
          <h2>Meu Nome</h2>
          <p>meunome@outlook.com</p>


          <p><span id="editarperfilbotao" class="editar-botao">Editar Perfil ▼</span></p>

       

        </section>

          
          <section class="sobre">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
              erat volutpat. Morbi imperdiet, mauris ac auctor dictum, nisl
              ligula egestas nulla.
            </p>
            <ul class="icones-container">
              <li><i class="fab fa-linkedin"></i></li>
              <i class="fab fa-pinterest"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-whatsapp"></i>
            </ul>
          </section>
          <a href=/index ><button class="sair-da-conta">Sair da conta</button></a>

        </section>
        <section class="coluna-direta">
          <section class="coluna-da-direita">
            <ul class="ul-conta-comum">
              <li><a href="">Publicações</a></li>
              <li><button class="nova-publi-perfil"><a class="nova-publ" href="/nova-publi-c-c"> Nova Proposta de Projeto</a></button></li>
            </ul>
           
           
          </section>

          <section class="publi-conta-comum">

            <span class="nenhuma-publi"> Parece que você não fez nenhuma publicação ainda...</span>
            
          </section>
        </section>
      </section>
    </section>


    <!-- Section de edição de perfil -->
    <section id="editarPerfilModal" class="modal">
      <section class="modal-content">
        <span class="close">&times;</span>

        <h1 class="h1-editar-perfil">Editar Perfil</h1>
        <form class="editar-perfil">

          

          <section class="label-input" id="section-nome">
              <label for="name">Nome:</label>
              <input type="text" id="name" name="name" placeholder="Seu Nome" class="input-alteracao">
          </section>

          <section class="label-input"  id="section-email">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" placeholder="seuemail@exemplo.com" class="input-alteracao">
          </section>

          <section class="img-holder"  id="section-img">
  
              <label for="foto-perfil">Foto de perfil:</label>
              <section class="lugar-botar-img">
  
  
                  <label class="picture" for="picture__input" >
                      <span class="picture__image"></span>
                      <p>Carregar imagem</p>
                    </label>
  
                    <input type="file" name="picture__input" id="picture__input" accept="image/*">
                  </section>
              </section>

              <section class="img-holder"  id="section-capa">
                  <label for="img-capa">Imagem de capa:</label>
                  <section class="lugar-botar-img">
                  
                      <label class="picture-banner" for="picture__input" >
                          <span class="picture__image"></span>
                          <p>Carregar imagem</p>
                        </label>
                        <input type="file" name="picture__input" id="picture__input" accept="image/*">
                      </section>
              </section>
  
              <button type="submit" class="salvar">Salvar</button>
            </form>


              </section>
  

       
      </section>
    </section>


    <%- include('../partials/rodape'); %>

    <script src="js/editar-perfil.js"> </script>
  </body>
</html>