<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Minhas Notificações</title>
  <link rel="stylesheet" href="css/notificacoes.css">
  <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
  
</head>
<body>

  

   <% if (tipo_usuario === 'profissional') { %>
  <%- include('../partials/menu-logado', { tipo_usuario: tipo_usuario }) %>
<% } else if (tipo_usuario === 'comum') { %>
  <%- include('../partials/menu-c-c', { tipo_usuario: tipo_usuario }) %>
<% } else { %>
  <%- include('../partials/menu', { tipo_usuario: tipo_usuario }) %>
<% } %>


  

  <section class="container">
    <h2 class="h2-titulo">Notificações</h2>

    <!-- Bloco resumo -->
    <section class="summary-box">
      <section class="left">
       15 notificações não visualizadas
      </section>
      <section class="right">
        
      </section>
    </section>

    <!-- Notificação 1 -->
     <a href="/notificacao" class="notification-link">
    <section class="notification-box highlight">
      <section class="left">
        <img src="imagens/logo.png" alt="Logo" width="24" height="24">
        <section class="text">
          <section class="title">Novas publicações venha conferir</section>
        </section>
      </section>
      <section class="right">
        <section class="not-viewed">Não Visualizada</section>
        <section>10.05.2025</section>
      </section>
    </section>
    </a>

    <!-- Notificação 2 -->
     <a href="/notificacao" class="notification-link">
    <section class="notification-box">
      <section class="left">
        <img src="imagens/logo.png" alt="Logo" width="24" height="24">
        <section class="text">
          <section class="title">Melhores Profissionais </section>
        </section>
      </section>
      <section class="right">
        <section>03.05.2025</section>
      </section>
    </section>

    <!-- Notificação 3 -->
     <a href="/notificacao" class="notification-link">
    <section class="notification-box">
      <section class="left">
        <img src="imagens/logo.png" alt="Logo" width="24" height="24">
        <section class="text">
          <section class="title">Divulgue sua arte</section>
        </section>
      </section>
      <section class="right">
        <section>30.04.2025</section>
      </section>
    </section>

    <!-- Notificação 4 -->
     <a href="/notificacao" class="notification-link">
    <section class="notification-box highlight">
      <section class="left">
        <img src="imagens/logo.png" alt="Logo" width="24" height="24">
        <section class="text">
          <section class="title">Como achar a arte que você procura</section>
        </section>
      </section>
      <section class="right">
        <section class="not-viewed">Não Visualizada</section>
        <section>22.04.2025</section>
      </section>
    </section>

    <!-- Notificação 5 -->
     <a href="/notificacao" class="notification-link">
    <section class="notification-box highlight">
      <section class="left">
        <img src="imagens/logo.png" alt="Logo" width="24" height="24">
        <section class="text">
          <section class="title">Venha conferir as novas novidades</section>

        </section>
      </section>
      <section class="right">
        <section class="not-viewed">Não Visualizada</section>
        <section>18.04.2025</section>
      </section>
    </section>

   


  </section>

  
 <%- include('../partials/rodape'); %>

 
 <script src="https://kit.fontawesome.com/2fcd7931ea.js" crossorigin="anonymous"></script>
 <script src="js/mobile-navbar.js"></script>




</body>
</html>
