<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
   <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/notificacao.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
   
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
   
  
  
  <title>Notificações</title>


  
</head>
<body>

  
<% if (status_usuario === 'pendente') { %>
    <%- include('../partials/aviso-pendente') %>
    
<% } %>
  


    

   <% if (tipo_usuario === 'profissional') { %>
  <%- include('../partials/menu-logado', { tipo_usuario: tipo_usuario }) %>
<% } else if (tipo_usuario === 'comum') { %>
  <%- include('../partials/menu-c-c', { tipo_usuario: tipo_usuario }) %>
<% } else { %>
  <%- include('../partials/menu', { tipo_usuario: tipo_usuario }) %>
<% } %>

   <section class="botao-de-voltar">   
    <button class="btn-voltar" onclick="voltarPagina()"> <ion-icon name="arrow-back-outline" id="seta"></ion-icon></button>
    <p class="lado-botao"> Perfil de Jaqueline Maria</p>
</section>

  
  <section class="container">
    <section class="lista-notificacoes">
      <section class="notificacao" onclick="abrirMensagem(0)">
        <h4>Novas publicações</h4>
        <small>03/06/2025 10:00</small>
      </section>
      <section class="notificacao" onclick="abrirMensagem(1)">
        <h4>Melhores Profissionais</h4>
        <small>02/06/2025 15:30</small>
      </section>
      <section class="notificacao" onclick="abrirMensagem(2)">
        <h4>Divulgue sua arte</h4>
        <small>01/06/2025 08:20</small>
      </section>
    </section>

    <section class="conteudo-mensagem">
      <section class="top-bar">
        <button class="btn-lida" onclick="marcarComoLida()">Marcar como lida</button>
      </section>
      <section class="mensagem-box" id="mensagemContent">
        
      </section>
    </section>
  </section>
<!-- ola -->
  <script>
    const mensagens = [
      {
        titulo: "Novas publicações, venha conferir",
        data: "2025-06-03T10:00:00",
        conteudo: "Veja as últimas artes publicadas pelos profissionais!"
      },
      {
        titulo: "Melhores Profissionais",
        data: "2025-06-02T15:30:00",
        conteudo: "Confira o ranking com os artistas mais bem avaliados. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam quo minima laudantium illum obcaecati quam harum dolores natus temporibus nihil distinctio officia porro nulla, ab nisi iusto, sit culpa tenetur?"
      },
      {
        titulo: "Divulgue sua arte",
        data: "2025-06-01T08:20:00",
        conteudo: "Aprenda como destacar suas criações na nossa plataforma."
      }
    ];

    function abrirMensagem(index) {
      const msg = mensagens[index];
      document.getElementById("mensagemContent").innerHTML = `
        <h2>${msg.titulo}</h2>
        <time>${new Date(msg.data).toLocaleString()}</time>
        <p>${msg.conteudo}</p>
      `;
    }

    function marcarComoLida() {
      alert("Notificação marcada como lida!");
    }

    // Exibir primeira mensagem ao abrir
    window.onload = () => abrirMensagem(0);
  </script>
   <script src="js/mobile-navbar.js"></script>
 <script src="js/voltar.js"></script>
</body>
</html>
