<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Publicação</title>
    <link rel="stylesheet" href="css/nova-publicacao.css">
    
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">

    

    

</head>
<body>

    
    <%- include('../partials/menu-logado'); %>
  
    <h1>Página em manutenção</h1>
<!--    
    <section class="container">
        <h1 class="novaPublicacao">Nova Publicação</h1>
        <br>
        <br>
        <section class="button-group">
           
                <button><a href="proposta-de-projeto.html" class="proposta">Proposta de projeto</a></button>
                <button ><a href="index.html" class="publicacao">Nova Publicação</a></button>
        </section>
        <form>
            <section class="form-group1">
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" class="colorido" required>
            </section>
            <section class="form-group1">
                <label for="descricao">Descrição</label>
                <input type="text" id="descricao" name="descricao" class="colorido" required>
            </section>
           ---------------colocar aquele negocio do upload----------------------
           <section class="imgContainer">
            <label class="picture" for="picture__input" >
                <span class="picture__image"></span>
              </label>
              
              <input type="file" name="picture__input" id="picture__input" accept="image/*">
            </section>
         ------------------------------------------------------------------------
         <section class="form-group">
                <label for="conteudo">Conteúdo</label>
                <textarea id="conteudo" name="conteudo" class="colorido
                " required></textarea>
            </section>
            <section class="form-group">
                <button type="submit" class="publicar">Publicar</button>
            </section>
        </form>
    </section>
</section> -->

<script src="js/nova-publicacao.js"></script>
</body>
</html>


