<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/oportunidades.css">
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
 
    <title>Teste </title>
</head>
<body>
<header>
    
           <%- include('../partials/menu-logado.ejs') -%>
</header>
    
    <main>




        <section class="conteudo">

            <h1> Oportunidades</h1> <br>
            <p class="fora"> Confira as mais recentes oportunidades</p>


            <section class="blocos">

                <section class="pedido" onclick="location.href='/propostadeprojeto'">
                    
                    <section class="info"><img src="imagens/fotoperfil1.jpeg"> <h2> Amanda Moraes</h2></section>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                        .Ducimus ullam molestias ab fugit id pariatur doloribus
                        ipsam dolorem, animi amet suscipit ex magni esse, optio
                        quibusdam? Eveniet necessitatibus atque officia.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam aperiam aspernatur repudiandae quasi! Quos consequatur velit sunt eveniet adipisci officia deserunt impedit quas, harum aliquam molestiae, laboriosam dolores, laudantium placeat.</p>
                </section>

                <section class="pedido">
                    <a href="/propostadeprojeto"></a>
                    <section class="info"><img src="imagens/fotoperfil2.jpg"> <h2> Pedro Henrique</h2></section>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                        .Ducimus ullam molestias ab fugit id pariatur doloribus
                        ipsam dolorem, animi amet suscipit ex magni esse, optio
                        quibusdam? Eveniet necessitatibus atque officia.</p>
                </section>

                <section class="pedido">
                    <a href="/propostadeprojeto"></a>
                    <section class="info"><img src="imagens/fotoperfil1.jpeg"> <h2> Luciana Souza</h2></section>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                        .Ducimus ullam molestias ab fugit id pariatur doloribus
                        ipsam dolorem, animi amet suscipit ex magni esse, optio
                        quibusdam? Eveniet necessitatibus atque officia.</p>
                </section>

                <section class="pedido">
                    <a href="/propostadeprojeto"></a>
                    <section class="info"><img src="imagens/fotoperfil3.jpg"> <h2> Mariana da Cunha</h2></section>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                        .Ducimus ullam molestias ab fugit id pariatur doloribus
                        ipsam dolorem, animi amet suscipit ex magni esse, optio
                        quibusdam? Eveniet necessitatibus atque officia.</p>
                </section>

                <section class="pedido">
                    <a href="/propostadeprojeto"></a>
                    <section class="info"><img src="imagens/fotoperfil2.jpg"> <h2> Luís Pedro</h2></section>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                        .Ducimus ullam molestias ab fugit id pariatur doloribus
                        ipsam dolorem, animi amet suscipit ex magni esse, optio
                        quibusdam? Eveniet necessitatibus atque officia.</p>
                </section>



        </section>
    </main>

    
    <%- include('../partials/rodape'); %>
    
</body>
</html>