<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/oportunidades.css">
 
    <title>Teste </title>
</head>
<body>
<header>
    
           <%- include('menu-artista-logado.ejs') -%>
</header>
    
    <main>




        <section class="conteudo">

            <h1> Oportunidades</h1> <br>
            <p class="fora"> Confira as mais recentes oportunidades</p>


            <section class="blocos">


                <section class="pedido">
                    <section class="info"><img src="quadrado.png"> <h2> Fulano de Tal</h2></section>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                        .Ducimus ullam molestias ab fugit id pariatur doloribus
                        ipsam dolorem, animi amet suscipit ex magni esse, optio
                        quibusdam? Eveniet necessitatibus atque officia.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam aperiam aspernatur repudiandae quasi! Quos consequatur velit sunt eveniet adipisci officia deserunt impedit quas, harum aliquam molestiae, laboriosam dolores, laudantium placeat.</p>
                </section>

                <section class="pedido">
                    <section class="info"><img src="quadrado.png"> <h2> Fulano de Tal</h2></section>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                        .Ducimus ullam molestias ab fugit id pariatur doloribus
                        ipsam dolorem, animi amet suscipit ex magni esse, optio
                        quibusdam? Eveniet necessitatibus atque officia.</p>
                </section>

                <section class="pedido">
                    <section class="info"><img src="quadrado.png"> <h2> Fulano de Tal</h2></section>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                        .Ducimus ullam molestias ab fugit id pariatur doloribus
                        ipsam dolorem, animi amet suscipit ex magni esse, optio
                        quibusdam? Eveniet necessitatibus atque officia.</p>
                </section>

                <section class="pedido">
                    <section class="info"><img src="quadrado.png"> <h2> Fulano de Tal</h2></section>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                        .Ducimus ullam molestias ab fugit id pariatur doloribus
                        ipsam dolorem, animi amet suscipit ex magni esse, optio
                        quibusdam? Eveniet necessitatibus atque officia.</p>
                </section>

                <section class="pedido">
                    <section class="info"><img src="quadrado.png"> <h2> Fulano de Tal</h2></section>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit
                        .Ducimus ullam molestias ab fugit id pariatur doloribus
                        ipsam dolorem, animi amet suscipit ex magni esse, optio
                        quibusdam? Eveniet necessitatibus atque officia.</p>
                </section>



        </section>
    </main>
    
</body>
</html>