<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/perfil.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <title>Perfil de ....</title>
</head>
<body>

    
  <%- include('../partials/menu-logado'); %>

  <section class="botao">   
    <button class="btn-voltar" onclick="voltarPagina()"> <ion-icon name="arrow-back-outline" id="seta"></ion-icon>
        
       
    </button>
    <p class="lado-botao">Perfil de Jaqueline Maria  </p>
</section>

    <section class="base_cabecalho">
      <header>
        <img src="imagens/bg.png" id="banner-perfil">
      </header>
      <section class="coluna_contaneir">
        <section class="coluna-esquerda">

          <section class="img__container">
            <img src="imagens/img.png" alt="Perfil" id="imgFoto">
            <span></span>
          </section>

          <input type="file" name="fImage" id="fImage" accept="image/*">

          <script src="js/meuperfil.js"></script>


        <section class="embaixo">
          <h2>Jaqueline Maria </h2>
          <p>UX/UI Designer</p>
          <p>meunome@outlook.com</p>
        </section>
        
          <ul class="sobre">
            <li><span>50</span>Projetos</li>
            <li><span>187</span>Trabalhos</li>
            <li><span>6</span>Colaborações</li>
          </ul>

          <section class="sobre">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
              erat volutpat. Morbi imperdiet, mauris ac auctor dictum, nisl
              ligula egestas nulla.
            </p>

            <ul>
              <li><i class="fab fa-linkedin"></i></li>
              <i class="fab fa-pinterest"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-whatsapp"></i>
            </ul>
          </section>
        </section>
        <section class="coluna-direta">
          <section class="coluna-da-direita">
            <ul>
              <li><a href="">Publicações</a></li>
              <li><a href="">Trabalhos</a></li>
              <li><a href="">Colaborações</a></li>
            </ul>
            <button id="irparachat"><a href=/chat-logado>Conversar</a></button>
          </section>

          <section class="publi">
            <img src="imagens/arte1.jpg" alt="Publicações" />
            <img src="imagens/arte2.jpg" alt="Publicações" />
            <img src="imagens/arte3.jpg" alt="Publicações" />
            <img src="imagens/arte4.jpg" alt="Publicações" />
            <img src="imagens/arte5.jpg" alt="Publicações" />
            <img src="imagens/arte6.jpg" alt="Publicações" />
          </section>
        </section>
      </section>
    </section>

    <%- include('../partials/rodape'); %>


    <script src="js/voltar.js"></script>
    
 




    
</body>
</html>