<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólios de Jaqueline</title>

    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js">

        
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 


    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/portfolio-pag.css">

    </head>
    <body>

    <%- include('../partials/menu'); %>


    
    <section class="botao-de-voltar">   
        <button class="btn-voltar" onclick="voltarPagina()"> <ion-icon name="arrow-back-outline" id="seta"></ion-icon></button>
        <p class="lado-botao"> Portfólio de Jaqueline Maria - Logotipos</p>
    </section>

    <section class="nome-desc">
        
            <h1> Logotipos</h1>
        
            <p> Este portfólio contém todos os meus trabalhos voltados à produção de logotipos e identidades visuais. Ao longo dos anos, tive o privilégio de trabalhar com diversas marcas e criar designs que não só refletem a essência de cada empresa, mas também buscam estabelecer uma conexão forte com o público-alvo.</p>
        
    </section>

    <section class="container-conteudo">


        <section class="item-explorar item-1">

            <a href=/publicacao> <img src="imagens/10.jpg" class="publicacao-img"></a>
            
                <section class="nome-e-btn-like">

                    <section class="foto-nome-dono-publi">
                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-explorar">
                        <p class="nome-dono-post-ex"><a href=/perfil >Jaqueline Maria</a></p>
                    </section>

                    <button class="like-button">
                        <i class="far fa-heart"></i>
                    </button>

                </section>

                <p class="descricao-item-explorar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        
        </section>


        <section class="item-explorar item-1">

            <a href=/publicacao> <img src="imagens/2.jpg" class="publicacao-img"></a>
            
                <section class="nome-e-btn-like">

                    <section class="foto-nome-dono-publi">
                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-explorar">
                        <p class="nome-dono-post-ex"><a href=/perfil >Jaqueline Maria</a></p>
                    </section>

                    <button class="like-button">
                        <i class="far fa-heart"></i>
                    </button>

                </section>

                <p class="descricao-item-explorar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        
        </section>


        <section class="item-explorar item-1">

            <a href=/publicacao> <img src="imagens/3.jpg" class="publicacao-img"></a>
            
                <section class="nome-e-btn-like">

                    <section class="foto-nome-dono-publi">
                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-explorar">
                        <p class="nome-dono-post-ex"><a href=/perfil >Jaqueline Maria</a></p>
                    </section>

                    <button class="like-button">
                        <i class="far fa-heart"></i>
                    </button>

                </section>

                <p class="descricao-item-explorar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        
        </section>


        <section class="item-explorar item-1">

            <a href=/publicacao> <img src="imagens/7.jpg" class="publicacao-img"></a>
            
                <section class="nome-e-btn-like">

                    <section class="foto-nome-dono-publi">
                        <img src="imagens/fotoperfil1.jpeg" class="foto-perfil-explorar">
                        <p class="nome-dono-post-ex"><a href=/perfil >Jaqueline Maria</a></p>
                    </section>

                    <button class="like-button">
                        <i class="far fa-heart"></i>
                    </button>

                </section>

                <p class="descricao-item-explorar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        
        </section>

    </section>

    </body>

    <%- include('../partials/rodape'); %>


    

    <script src="js/like.js"></script>
    <script src="https://kit.fontawesome.com/2fcd7931ea.js" crossorigin="anonymous"></script>
    <script src="js/mobile-navbar.js"></script>
    <script src="js/voltar.js"></script>
    

</html>