<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traço Perfeito</title>
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/propostadeprojeto.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">  
</head>
<body>

    <!--barra de menu logado-->

    <%- include('../partials/menu-logado'); %>

    <!--rESTO DA PÁGINA-->

    <section class="botao">   
        <button class="btn-voltar" onclick="voltarPagina()"> <ion-icon name="arrow-back-outline" id="seta"></ion-icon>
        </button>
    </section>

    <section class="containerp">

        <header>
        </header>
        <section class="projeto">
            <h1 class="titulo-maior">Proposta de projeto</h1>
            <br>
            <section class="perfil">
            <img src="imagens/fotoperfil1.jpeg" height="50" width="50" alt="Laura Alves">
                <h2>Por Laura Alves</h2>
                <button class="conversar">Conversar</button>
            </section>

            <section class="pedidodescrito">
            <p class="textopedido">Olá,</p>
            <p class="textopedido">
                Meu nome é Laura e estou animada em finalmente dar vida ao meu sonho de abrir uma loja online.
                A loja se chama "Luminosa" e é especializada em produtos de decoração para interiores.
                Como uma amante do design de interiores, eu sei o quanto a identidade visual de uma marca é crucial para o sucesso.
            </p>
            <p class="textopedido">
                Estou buscando um designer talentoso que possa capturar a essência da "Luminosa" e transformá-la em uma
                identidade visual única e memorável. Preciso de um logotipo que transmita sofisticação e criatividade,
                paleta de cores que seja acolhedora e que remeta ao aconchego do lar, além de elementos gráficos
                que se alinhem com nossa visão.
            </p>
            <p class="textopedido">
                Se você é apaixonado por design e tem experiência em criar identidades visuais impactantes, adoraria ver
                mais do seu trabalho. Por favor, compartilhe seu portfólio e suas ideias iniciais sobre como você abordaria este projeto.
            </p>
            <p class="textopedido">
                Estou ansiosa para encontrar alguém com a mesma paixão por design e transformar a "Luminosa" em uma
                marca reconhecida. Sinta-se à vontade para entrar em contato comigo!
            </p>
            </section>
        </section>
        <aside class="interessados">
            <h2 class="titulo-medio">Mais Interessados</h2>
            <section class="interessado">
                <h3>Por Juliana Souza</h3>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                </p>
            </section>
            <section class="interessado">
                <h3>Por Juliana Souza</h3>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                </p>
            </section>
        </aside>
    </section>
</body>
</html>