<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/quemsomos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Quem Somos</title>
</head>
<body>

    <header>
        <nav class="menu" id="menu">
           <img src="imagens/logo.png" id="logo"><a href="#" class="logo" ></a></img>
           <img src="imagens/traço perfeito.png" id="traco" alt="Traço Perfeito">
            <ul>
                <li><p><a href="#" class="pri">Explorar</a></p></li>
                <li><p><a href=/contratar class="ter">Contratar</a></p></li>
                <li><p><a href=/quemsomos class="qua">Quem somos</a></p></li>
                <li><p><a href=/cadastro class="direita02">Cadastrar-se</p></a></li>
                <li><p><a href=/login class="direita01">Entrar</a></p></li>
            </ul>
           
        </nav>
    </header>

    <section class="meio">


    <section class="container">
        <section id="servico-secao">
            <h2>Quem Somos</h2>
            <p id="paragrafo">O mundo da arte e do design está bem diante de seus olhos,
            vamos conhecer melhor nosso objetivo?
            </p>
            <section class="cards">
                <section class="card">
                    <i class="fa-solid fa-address-card"></i>
                    <section class="conteudo">
                        <h3>Quem Somos?</h3>
                        <p>O Traço Perfeito é uma plataforma que conecta 
                            artistas, clientes e interessados em arte e design digital.
                            Em nosso site, você pode expor suas obras, procurar por serviços e</p>
                        <p>se inspirar, é claro, e ter contato com outros artistas. Também somos uma
                            opção para a busca pela pessoa certa para aquele trabalho!</p>
                    </section>
                </section>

                <section class="card">
                    <i class="fa-solid fa-bullseye"></i>
                    <section class="conteudo">
                        <h3>Nosso Objetivo</h3>
                        <p>Nosso objetivo é criar uma ponte entre o
                            artista/designer com os usuários, facilitando
                            ambos os lados.</p>
                        <p>Também encorajar as pessoas que entrarem 
                            no ramo do design.</p>
                    </section>
                </section>
                
                <section class="card">
                    <i class="fa-solid fa-circle-info"></i>
                    <section class="conteudo">
                        <h3>Ajuda?</h3>
                        <p>Precisa de ajuda com sua navegação no 
                            nosso site? Não consegue entrar em contato
                            com seu cliente ou artista?</p>
                        <p>Entre em contato com a gente para conseguirmos
                            resolver o seu problema!</p>
                        <p>E-mail: tracoperfeito2024@outlook.com</p>
                    </section>
                </section>
            </section>
        </section>
    </section>

</section>
</body>
</html>