<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Cadastra?</title>
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/quemcadastra.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 

</head>
<body>

    <section class="botao-de-voltar">   
        <button class="btn-voltar" onclick="voltarPagina()"> <ion-icon name="arrow-back-outline" id="seta"></ion-icon>
       
           
        </button>

        <p class="lado-botao">Voltar à página inicial</p>
    </section>
    
   <section class="conteudo-pag">
       
       <section class="container">
           <section class="logo">
               <img src="imagens/logo.png" alt="Logo Traço Perfeito">
           </section>
           <section class="form-container">
       
               <h1>Cadastre-se</h1>
       
               <p class="orien-escolha">Escolha o tipo de conta que melhor atende às suas necessidades:</p>
               <br>
               <section class="cards-container">
                   <section class="card comum"> 
                    
                    <section class="nome-preco com">
                          Comum   <br>
                       <p>Gratuita</p>
                    </section>
                        <ul class="lista">
                           <li>Acesso à comunidade de artistas e designers</li>
                           <li>Publique propostas de projeto para encontrar profissionais ideais</li>
                           <li>Entre em contato com os profissionais</li>
                       </ul>
       
                       <a href=/explorar-c-c class="btn-comum">Escolher esta conta</a></section>
       
                           <section class="card prof"> 
                            <section class="nome-preco pro">
                                Profissional <br>
                               <p>Assinatura</p>
                            </section>
                                <ul class="lista">
                                   <li>Todos os recursos da Conta Comum</li>
                                   <li>Monte e exiba seu portfólio para mais visibilidade</li>
                                   <li>Publique seus trabalhos e construa uma vitrine profissional</li>
                                   <li>Acesso exclusivo a oportunidades de projeto</li>
                               </ul>
       
                               <a href=/escolher-assinatura class="btn-pro">Escolher esta conta</a>
       
                           </section>
       
           </section>
       </section>
   </section>

   <script src="js/voltar.js"></script>

</body>
</html>