<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/quemsomos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <title>Quem Somos</title>
</head>
<body>

    <%- include('menu.ejs') -%>


    <section class="meio">


    <section class="container-quemsomos">
        <section id="servico-secao">
            <h2>Quem Somos</h2>
            <p id="paragrafo">O mundo da arte e do design está bem diante de seus olhos,
            vamos conhecer melhor nosso objetivo?
            </p>
            <section class="cards">
                <section class="card">
                    <i class="fa-solid fa-address-card"></i>
                    <section class="conteudo">
                        <h3>Quem Somos?</h3>
                        <p class="meio">O Traço Perfeito é uma plataforma que conecta 
                            artistas, clientes e interessados em arte e design digital.
                            Em nosso site, você pode expor suas obras, procurar por serviços e</p>
                        <p class="meio">se inspirar, é claro, e ter contato com outros artistas. Também somos uma
                            opção para a busca pela pessoa certa para aquele trabalho!</p>
                    </section>
                </section>

                <section class="card">
                    <i class="fa-solid fa-bullseye"></i>
                    <section class="conteudo">
                        <h3>Nosso Objetivo</h3>
                        <p class="meio">Nosso objetivo é criar uma ponte entre o
                            artista/designer com os usuários, facilitando
                            ambos os lados.</p>
                        <p class="meio">Também encorajar as pessoas que entrarem 
                            no ramo do design.</p>
                    </section>
                </section>
                
                <section class="card">
                    <i class="fa-solid fa-circle-info"></i>
                    <section class="conteudo">
                        <h3>Ajuda?</h3>
                        <p class="meio">Precisa de ajuda com sua navegação no 
                            nosso site? Não consegue entrar em contato
                            com seu cliente ou artista?</p>
                        <p class="meio">Entre em contato com a gente para conseguirmos
                            resolver o seu problema!</p>
                        <p class="meio">E-mail: tracoperfeito2024@outlook.com</p>
                    </section>
                </section>
            </section>
        </section>
    </section>

</section>
</body>
</html>