<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artista ou Comum</title>
    <link rel = "stylesheet" href="css/quemcadastra.css">
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
   <section class="container">
    <section class="esqueda">
     
        <img src="imagens/logo.png" class="logo" width="400px" height="400px">
    </section>
    <section class="direita">
        <section class="card-button">
            <section class="caixa"></section>
            <h1>CADASTRE-SE</h1>
            <br>
            <br>
            <br>
            <h1 class="cadastro">Qual tipo de conta você deseja criar em nosso site?</h1>
            <button class="artista">Artista</button>
            <button class="comum">comum</button>
            </section>
        </section>
    </section>
   </section>
   
     
</body>
</html>
 