<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Preços</title>
    <link rel="stylesheet" href="css/tabela-pagamento.css">
</head>
<body>

<section class="container">
    <h2> ESCOLHA UM PLANO</h2>
    <section class="linha-de-preco">
        <section class="coluna-de-preco">
            <p>Mensal</p>
            <h3> 10,99R$ <span>/ mês</span></h3>
            <ul>
                <li>Monitorar o desempenho</li>
                <li>Imagens em alta resolução</li>
                <li>Revisar e atualizar descrições</li>
                <li>Planejar e programar postagens</li>
                <li>Conectar-se com outros artistas</li>
                <li>Interagir com seguidores</li>
            </ul>
            <button>Adicionar ao Carrinho</button>
        </section>
        <section class="coluna-de-preco">
            <p>Anual</p>
            <h3> 80,00R$ <span>/ ano</span></h3>
            <ul>
                <li>Revisar e atualizar o portfólio</li>
                <li>Melhorar o site pessoal</li>
                <li>Avaliar o progresso</li>
                <li>Maior visibilidade</li>
                <li>Imagens em alta resolução</li>
                <li>Planejar ajustes e novas estratégias</li>
            </ul>
            <button>Adicionar ao Carrinho</button>
        </section>
        <section class="coluna-de-preco">
            <p>Trimestral</p>
            <h3> 29,99R$ <span>/ trim.</span></h3>
            <ul>
                <li>Participar de workshops</li>
                <li>Criar obras colaborativas</li>
                <li>Imagens em alta resolução</li>
                <li>Documentar o processo de criação</li>
                <li>Ajustar estratégias</li>
                <li>Planejar e executar projetos</li>
            </ul>
            <button>Adicionar ao Carrinho</button>
        </section>
    </section>
</section>












    

    
</body>
</html>